Availability OEE V2(Ryan)
[{"id":"cbf071bf4271f8bf","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"92aee04495879101","type":"group","z":"cbf071bf4271f8bf","name":"Connect to Sensors","style":{"stroke":"#000000","fill":"#92d04f","label":true,"color":"#000000"},"nodes":["09e134c83d888cc3","4297f9533361dabe","4cebe6713124d3fb","7ec0c4d6d21f54bf","3d227a4c836d10ec","a878f8caf6938c6d","e62eea43f54eaa95","563240edf1ad87e6","3e955cc23021aa04","83a84d8a643c0e2a","03e242394391681e","b4f7322b3205c962","54e56d71619e9bf0","9241dd134b838469","f6dc925506db89be","627478d13f363d36","dd0b615ff92ded31","fc343b5caa45535a","c9e9d184d5df577b","6c4e982010fb0850","2f04809b9247f146","5b71e11a89d78c9d","45220d111a9a01b0","f8b7ecc43df0e714"],"x":91,"y":59,"w":565,"h":362},{"id":"d287c4fb4dc18dd6","type":"group","z":"cbf071bf4271f8bf","name":"Upload to InfluxDB","style":{"stroke":"#000000","fill":"#b797cf","label":true,"color":"#000000"},"nodes":["b6146b2db6138d3b","e088dc03db8118a6","4e8c1cbde61fb2e8","88b4bea53738a07c","0f28be5005570dff","0d31138a3a5de9ef","257f3e0c13528e76","a8014eb5dad19459","a59013b393d59f6f","710adab2b0d5c447","22fd78d16ac0251b","eef2c78719944458","234fa52e2d30e97a","0161b768d6376c75","39a1b2b6b2e83257","4f37b271dfce42fc","f2a858c7437306b5","668c61d805948914"],"x":714,"y":59,"w":742,"h":362},{"id":"03127cfe462ebc91","type":"group","z":"cbf071bf4271f8bf","name":"Timer Counting ","style":{"fill":"#bfdbef","label":true,"color":"#001f60"},"nodes":["e072fa03f6f46c12","57404a649d7a8035","4236f3c87bb9cae9","25bd6a64d590eff5","f017334e0f758b1c","ccaee2aabe98cb35","073d0f2a78794b78","4334e3bbd0089458","bafb4a1848cedd66","e1b5fb3a997496d3","ac2efea3d3108c97"],"env":[],"x":274,"y":459,"w":1312,"h":242},{"id":"167720d8f96f2b91","type":"link in","z":"cbf071bf4271f8bf","name":"","links":["3e955cc23021aa04"],"x":125,"y":520,"wires":[[]]},{"id":"6bdf69ca4c6614c7","type":"link in","z":"cbf071bf4271f8bf","name":"","links":["83a84d8a643c0e2a"],"x":125,"y":560,"wires":[[]]},{"id":"fccd3ba2c808595c","type":"link in","z":"cbf071bf4271f8bf","name":"","links":["03e242394391681e"],"x":125,"y":600,"wires":[[]]},{"id":"2090a9486d01b176","type":"link in","z":"cbf071bf4271f8bf","name":"","links":["b4f7322b3205c962"],"x":125,"y":640,"wires":[[]]},{"id":"f947369f3cac27c9","type":"link in","z":"cbf071bf4271f8bf","name":"","links":["54e56d71619e9bf0"],"x":125,"y":680,"wires":[[]]},{"id":"e071bf874432c4c6","type":"link in","z":"cbf071bf4271f8bf","name":"","links":["9241dd134b838469"],"x":125,"y":720,"wires":[[]]},{"id":"a6f4085d54144e76","type":"link in","z":"cbf071bf4271f8bf","name":"","links":["f6dc925506db89be"],"x":125,"y":760,"wires":[[]]},{"id":"e767b05eba9452c0","type":"link in","z":"cbf071bf4271f8bf","name":"","links":["627478d13f363d36"],"x":125,"y":800,"wires":[[]]},{"id":"09e134c83d888cc3","type":"mqtt in","z":"cbf071bf4271f8bf","d":true,"g":"92aee04495879101","name":"","topic":"Kube-IoT/CC:DE:67:17:22:82","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":260,"wires":[["2f04809b9247f146"]]},{"id":"4297f9533361dabe","type":"mqtt in","z":"cbf071bf4271f8bf","d":true,"g":"92aee04495879101","name":"","topic":"Kube-IoT/FD:61:44:10:62:94","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":340,"wires":[["45220d111a9a01b0"]]},{"id":"4cebe6713124d3fb","type":"mqtt in","z":"cbf071bf4271f8bf","d":true,"g":"92aee04495879101","name":"","topic":"Kube-IoT/DE:11:8F:F3:93:E3","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":300,"wires":[["5b71e11a89d78c9d"]]},{"id":"7ec0c4d6d21f54bf","type":"mqtt in","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"","topic":"Kube-IoT/FE:EE:63:92:CF:15","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":140,"wires":[["fc343b5caa45535a"]]},{"id":"3d227a4c836d10ec","type":"mqtt in","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"","topic":"Kube-IoT/F4:CA:B7:DC:58:E9","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":220,"wires":[["6c4e982010fb0850"]]},{"id":"a878f8caf6938c6d","type":"mqtt in","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"","topic":"Kube-IoT/C4:43:A9:EA:BB:16","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":180,"wires":[["c9e9d184d5df577b","83cf86c8796e093c","ac2efea3d3108c97"]]},{"id":"e62eea43f54eaa95","type":"mqtt in","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"","topic":"Kube-IoT/F7:49:20:D0:F3:54","qos":"2","datatype":"json","broker":"91221128c842e317","nl":false,"rap":false,"inputs":0,"x":237,"y":100,"wires":[["dd0b615ff92ded31"]]},{"id":"563240edf1ad87e6","type":"mqtt in","z":"cbf071bf4271f8bf","d":true,"g":"92aee04495879101","name":"","topic":"Kube-IoT/","qos":"2","datatype":"json","broker":"","nl":false,"rap":false,"inputs":0,"x":180,"y":380,"wires":[["f8b7ecc43df0e714"]]},{"id":"3e955cc23021aa04","type":"link out","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Sensor 1","mode":"link","links":["710adab2b0d5c447","167720d8f96f2b91"],"x":615,"y":100,"wires":[]},{"id":"83a84d8a643c0e2a","type":"link out","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Sensor 2","mode":"link","links":["22fd78d16ac0251b","6bdf69ca4c6614c7"],"x":615,"y":140,"wires":[]},{"id":"03e242394391681e","type":"link out","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Sensor 3","mode":"link","links":["eef2c78719944458","fccd3ba2c808595c"],"x":615,"y":180,"wires":[]},{"id":"b4f7322b3205c962","type":"link out","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Sensor 4","mode":"link","links":["234fa52e2d30e97a","2090a9486d01b176"],"x":615,"y":220,"wires":[]},{"id":"54e56d71619e9bf0","type":"link out","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Sensor 5","mode":"link","links":["f947369f3cac27c9","0161b768d6376c75"],"x":615,"y":260,"wires":[]},{"id":"9241dd134b838469","type":"link out","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Sensor 6","mode":"link","links":["e071bf874432c4c6","39a1b2b6b2e83257"],"x":615,"y":300,"wires":[]},{"id":"f6dc925506db89be","type":"link out","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Sensor 7","mode":"link","links":["a6f4085d54144e76","4f37b271dfce42fc"],"x":615,"y":340,"wires":[]},{"id":"627478d13f363d36","type":"link out","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Sensor 8","mode":"link","links":["f2a858c7437306b5","e767b05eba9452c0"],"x":615,"y":380,"wires":[]},{"id":"dd0b615ff92ded31","type":"change","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Spindle Tool","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":100,"wires":[["3e955cc23021aa04"]]},{"id":"fc343b5caa45535a","type":"change","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Y Axis Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":140,"wires":[["83a84d8a643c0e2a"]]},{"id":"c9e9d184d5df577b","type":"change","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Spindle Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":180,"wires":[["03e242394391681e"]]},{"id":"6c4e982010fb0850","type":"change","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Z Axis Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":220,"wires":[["b4f7322b3205c962"]]},{"id":"2f04809b9247f146","type":"change","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["54e56d71619e9bf0"]]},{"id":"5b71e11a89d78c9d","type":"change","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["9241dd134b838469"]]},{"id":"45220d111a9a01b0","type":"change","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":340,"wires":[["f6dc925506db89be"]]},{"id":"f8b7ecc43df0e714","type":"change","z":"cbf071bf4271f8bf","g":"92aee04495879101","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["627478d13f363d36"]]},{"id":"b6146b2db6138d3b","type":"function","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":100,"wires":[["a59013b393d59f6f"]]},{"id":"e088dc03db8118a6","type":"function","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":300,"wires":[["a59013b393d59f6f"]]},{"id":"4e8c1cbde61fb2e8","type":"function","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":220,"wires":[["a59013b393d59f6f"]]},{"id":"88b4bea53738a07c","type":"function","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":140,"wires":[["a59013b393d59f6f"]]},{"id":"0f28be5005570dff","type":"function","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[["a59013b393d59f6f"]]},{"id":"0d31138a3a5de9ef","type":"function","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":180,"wires":[["a59013b393d59f6f"]]},{"id":"257f3e0c13528e76","type":"function","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":340,"wires":[["a59013b393d59f6f"]]},{"id":"a8014eb5dad19459","type":"function","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":380,"wires":[["a59013b393d59f6f"]]},{"id":"a59013b393d59f6f","type":"change","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"Formatter","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"measurement\": msg.topic,\t       \"fields\": msg.$.payload\t  }\t]         ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":240,"wires":[["668c61d805948914"]],"info":"To change the "},{"id":"710adab2b0d5c447","type":"link in","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"","links":["3e955cc23021aa04"],"x":755,"y":100,"wires":[["b6146b2db6138d3b"]]},{"id":"22fd78d16ac0251b","type":"link in","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"","links":["83a84d8a643c0e2a"],"x":755,"y":140,"wires":[["88b4bea53738a07c"]]},{"id":"eef2c78719944458","type":"link in","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"","links":["03e242394391681e"],"x":755,"y":180,"wires":[["0d31138a3a5de9ef"]]},{"id":"234fa52e2d30e97a","type":"link in","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"","links":["b4f7322b3205c962"],"x":755,"y":220,"wires":[["4e8c1cbde61fb2e8"]]},{"id":"0161b768d6376c75","type":"link in","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"","links":["54e56d71619e9bf0"],"x":755,"y":260,"wires":[["0f28be5005570dff"]]},{"id":"39a1b2b6b2e83257","type":"link in","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"","links":["9241dd134b838469"],"x":755,"y":300,"wires":[["e088dc03db8118a6"]]},{"id":"4f37b271dfce42fc","type":"link in","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"","links":["f6dc925506db89be"],"x":755,"y":340,"wires":[["257f3e0c13528e76"]]},{"id":"f2a858c7437306b5","type":"link in","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","name":"","links":["627478d13f363d36"],"x":755,"y":380,"wires":[["a8014eb5dad19459"]]},{"id":"668c61d805948914","type":"influxdb batch","z":"cbf071bf4271f8bf","g":"d287c4fb4dc18dd6","influxdb":"eea0be80b588d55a","precision":"","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1320,"y":240,"wires":[]},{"id":"e072fa03f6f46c12","type":"change","z":"cbf071bf4271f8bf","g":"03127cfe462ebc91","name":"{command:'start'}","rules":[{"t":"set","p":"command","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":540,"wires":[[]]},{"id":"336cf35cad93f902","type":"debug","z":"cbf071bf4271f8bf","name":"last command","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"command","targetType":"msg","statusVal":"","statusType":"auto","x":1860,"y":800,"wires":[]},{"id":"395bd81ccbc12b1e","type":"influxdb out","z":"cbf071bf4271f8bf","influxdb":"685c2052c67a3d18","name":"","measurement":"Availability Percentage","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1970,"y":840,"wires":[]},{"id":"83cf86c8796e093c","type":"debug","z":"cbf071bf4271f8bf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":20,"wires":[]},{"id":"28df6ae4cea5b49e","type":"influxdb out","z":"cbf071bf4271f8bf","influxdb":"685c2052c67a3d18","name":"","measurement":"Performance","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1940,"y":880,"wires":[]},{"id":"642d712f4d705cd2","type":"influxdb out","z":"cbf071bf4271f8bf","influxdb":"685c2052c67a3d18","name":"","measurement":"Quality","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1920,"y":920,"wires":[]},{"id":"e3945fb0510ee901","type":"influxdb out","z":"cbf071bf4271f8bf","influxdb":"685c2052c67a3d18","name":"","measurement":"OEE","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1910,"y":960,"wires":[]},{"id":"57404a649d7a8035","type":"debug","z":"cbf071bf4271f8bf","g":"03127cfe462ebc91","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"elapsed.millis","targetType":"msg","statusVal":"elapsed.millis","statusType":"auto","x":1450,"y":600,"wires":[]},{"id":"4236f3c87bb9cae9","type":"change","z":"cbf071bf4271f8bf","g":"03127cfe462ebc91","name":"{command:'status'}","rules":[{"t":"set","p":"command","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":580,"wires":[[]]},{"id":"25bd6a64d590eff5","type":"change","z":"cbf071bf4271f8bf","g":"03127cfe462ebc91","name":"{command:'stop'}","rules":[{"t":"set","p":"command","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":620,"wires":[[]]},{"id":"f017334e0f758b1c","type":"change","z":"cbf071bf4271f8bf","g":"03127cfe462ebc91","name":"{command:'reset'}","rules":[{"t":"set","p":"command","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":660,"wires":[[]]},{"id":"ccaee2aabe98cb35","type":"function","z":"cbf071bf4271f8bf","g":"03127cfe462ebc91","name":"","func":"if(msg.topic == \"OFF\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":580,"wires":[["25bd6a64d590eff5","f017334e0f758b1c"]]},{"id":"073d0f2a78794b78","type":"inject","z":"cbf071bf4271f8bf","g":"03127cfe462ebc91","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":790,"y":620,"wires":[["4236f3c87bb9cae9"]]},{"id":"4334e3bbd0089458","type":"function","z":"cbf071bf4271f8bf","g":"03127cfe462ebc91","name":"","func":"if(msg.topic == \"ON\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":540,"wires":[["e072fa03f6f46c12"]]},{"id":"bafb4a1848cedd66","type":"debug","z":"cbf071bf4271f8bf","g":"03127cfe462ebc91","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":500,"wires":[]},{"id":"e1b5fb3a997496d3","type":"timerswitch","z":"cbf071bf4271f8bf","g":"03127cfe462ebc91","name":"","ontopic":"ON","offtopic":"OFF","onpayload":"START","offpayload":"STOP","disabled":false,"schedules":[{"on_h":"07","on_m":"00","on_s":"00","off_h":"11","off_m":"50","off_s":"00","valid":true}],"x":510,"y":500,"wires":[["ccaee2aabe98cb35","bafb4a1848cedd66","4334e3bbd0089458"]]},{"id":"ac2efea3d3108c97","type":"switch","z":"cbf071bf4271f8bf","g":"03127cfe462ebc91","name":"","property":"payload.p2p_mic","propertyType":"msg","rules":[{"t":"gte","v":"45","vt":"num"},{"t":"lt","v":"45","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":500,"wires":[["e1b5fb3a997496d3"],["e1b5fb3a997496d3"]]},{"id":"984494a1aa30ccc9","type":"inject","z":"cbf071bf4271f8bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"46","payloadType":"num","x":330,"y":940,"wires":[["586f057e74657cd9"]]},{"id":"9505800a6ba6436a","type":"inject","z":"cbf071bf4271f8bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"43","payloadType":"num","x":330,"y":980,"wires":[["586f057e74657cd9"]]},{"id":"d2403bb43aaa9d01","type":"change","z":"cbf071bf4271f8bf","name":"Start","rules":[{"t":"set","p":"command","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":940,"wires":[["444086ab3d0150f4"]]},{"id":"3009e8c0ba1566e3","type":"change","z":"cbf071bf4271f8bf","name":"Stop","rules":[{"t":"set","p":"command","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":980,"wires":[["444086ab3d0150f4"]]},{"id":"1c0d94b9454e5ea0","type":"debug","z":"cbf071bf4271f8bf","name":"Timer flow","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"elapsed.millis","targetType":"msg","statusVal":"elapsed.millis","statusType":"auto","x":1210,"y":980,"wires":[]},{"id":"444086ab3d0150f4","type":"hourglass","z":"cbf071bf4271f8bf","name":"","persistId":"","humanizeLocale":"","x":1020,"y":980,"wires":[["1c0d94b9454e5ea0"]]},{"id":"a76450d91b983deb","type":"timerswitch","z":"cbf071bf4271f8bf","name":"","ontopic":"ON","offtopic":"OFF","onpayload":"1","offpayload":"0","disabled":false,"schedules":[{"on_h":"17","on_m":"11","on_s":"00","off_h":"17","off_m":"12","off_s":"00","valid":true}],"x":90,"y":1160,"wires":[["d6600fa7b43ef113","5dca260f12a88ee0"]]},{"id":"586f057e74657cd9","type":"gate","z":"cbf071bf4271f8bf","name":"","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"storeName":"memory","x":550,"y":940,"wires":[["be5186531ca41e14"]]},{"id":"be5186531ca41e14","type":"switch","z":"cbf071bf4271f8bf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"45","vt":"num"},{"t":"lte","v":"44","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":960,"wires":[["d2403bb43aaa9d01"],["3009e8c0ba1566e3"]]},{"id":"4356470e3b394a93","type":"change","z":"cbf071bf4271f8bf","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"open","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1140,"wires":[["cc622f81a7dc4a0a","08f8fc24f388cee8"]]},{"id":"9788360ac1ac2c0e","type":"change","z":"cbf071bf4271f8bf","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"control","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"close","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1180,"wires":[["a4a00a634201669e","bb57d14ae76b28e8"]]},{"id":"5dca260f12a88ee0","type":"switch","z":"cbf071bf4271f8bf","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":1160,"wires":[["89e96f50ded48f60"],["1d8c13a86bc19381","b5bc5984ebbd9f06","f0f9453e2e100f2b"]]},{"id":"a4a00a634201669e","type":"debug","z":"cbf071bf4271f8bf","name":"CLOSE debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":1180,"wires":[]},{"id":"d6600fa7b43ef113","type":"debug","z":"cbf071bf4271f8bf","name":"ON/OFF debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":1200,"wires":[]},{"id":"cc622f81a7dc4a0a","type":"debug","z":"cbf071bf4271f8bf","name":"OPEN debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":1140,"wires":[]},{"id":"5679e09d8ec14ec2","type":"change","z":"cbf071bf4271f8bf","name":"Reset","rules":[{"t":"set","p":"command","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1060,"wires":[["444086ab3d0150f4"]]},{"id":"7dd22fdf27d5ea46","type":"change","z":"cbf071bf4271f8bf","name":"Stop","rules":[{"t":"set","p":"command","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1020,"wires":[["444086ab3d0150f4"]]},{"id":"74ef183853b17b0c","type":"change","z":"cbf071bf4271f8bf","name":"Status","rules":[{"t":"set","p":"command","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":900,"wires":[["444086ab3d0150f4"]]},{"id":"57604286cb6f6cb8","type":"inject","z":"cbf071bf4271f8bf","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"date","x":570,"y":820,"wires":[["7d3e3acc882f1bef"]]},{"id":"b5074685e44cc785","type":"link in","z":"cbf071bf4271f8bf","name":"","links":["7d3e3acc882f1bef"],"x":735,"y":900,"wires":[["74ef183853b17b0c"]]},{"id":"7d3e3acc882f1bef","type":"link out","z":"cbf071bf4271f8bf","name":"","mode":"link","links":["b5074685e44cc785"],"x":695,"y":820,"wires":[]},{"id":"2c64af75412db62c","type":"link in","z":"cbf071bf4271f8bf","name":"","links":["1d8c13a86bc19381"],"x":735,"y":1020,"wires":[["7dd22fdf27d5ea46"]]},{"id":"40ae921cc44bbed6","type":"link in","z":"cbf071bf4271f8bf","name":"","links":["b5bc5984ebbd9f06"],"x":735,"y":1060,"wires":[["5679e09d8ec14ec2"]]},{"id":"1d8c13a86bc19381","type":"link out","z":"cbf071bf4271f8bf","name":"","mode":"link","links":["2c64af75412db62c"],"x":415,"y":1140,"wires":[]},{"id":"b5bc5984ebbd9f06","type":"link out","z":"cbf071bf4271f8bf","name":"","mode":"link","links":["40ae921cc44bbed6"],"x":415,"y":1180,"wires":[]},{"id":"7a2480a0556e1198","type":"link in","z":"cbf071bf4271f8bf","name":"","links":["f0f9453e2e100f2b"],"x":735,"y":1180,"wires":[["9788360ac1ac2c0e"]]},{"id":"f0f9453e2e100f2b","type":"link out","z":"cbf071bf4271f8bf","name":"","mode":"link","links":["7a2480a0556e1198"],"x":415,"y":1220,"wires":[]},{"id":"89e96f50ded48f60","type":"link out","z":"cbf071bf4271f8bf","name":"","mode":"link","links":["264fd390dca6ef8f"],"x":415,"y":1100,"wires":[]},{"id":"264fd390dca6ef8f","type":"link in","z":"cbf071bf4271f8bf","name":"","links":["89e96f50ded48f60"],"x":735,"y":1140,"wires":[["4356470e3b394a93"]]},{"id":"08f8fc24f388cee8","type":"link out","z":"cbf071bf4271f8bf","name":"","mode":"link","links":["930cf3cc5107fcbe"],"x":995,"y":1140,"wires":[]},{"id":"bb57d14ae76b28e8","type":"link out","z":"cbf071bf4271f8bf","name":"","mode":"link","links":["d47b2303a44e0783"],"x":995,"y":1180,"wires":[]},{"id":"d47b2303a44e0783","type":"link in","z":"cbf071bf4271f8bf","name":"","links":["bb57d14ae76b28e8"],"x":435,"y":880,"wires":[["586f057e74657cd9"]]},{"id":"930cf3cc5107fcbe","type":"link in","z":"cbf071bf4271f8bf","name":"","links":["08f8fc24f388cee8"],"x":435,"y":840,"wires":[["586f057e74657cd9"]]},{"id":"b2b7947737bffa8f","type":"ui_text_input","z":"cbf071bf4271f8bf","name":"","label":"Good Products","tooltip":"","group":"c925f0a1.c2066","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"item1","topicType":"str","x":360,"y":1340,"wires":[["ce77079b0341b29d"]]},{"id":"c1e0d672d2cc5398","type":"ui_text_input","z":"cbf071bf4271f8bf","name":"","label":"Total Products","tooltip":"","group":"c925f0a1.c2066","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"item2","topicType":"str","x":360,"y":1380,"wires":[["ce77079b0341b29d"]]},{"id":"ce77079b0341b29d","type":"join","z":"cbf071bf4271f8bf","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":1360,"wires":[["72882a837a97f2d7","936adc63c5d63114"]]},{"id":"72882a837a97f2d7","type":"function","z":"cbf071bf4271f8bf","name":"msg.payload.item1 / msg.payload.item2","func":"msg.payload = (((msg.payload.item1 / msg.payload.item2)*100).toFixed(2))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1360,"wires":[["12c567776f1d7869"]]},{"id":"570fd508fca5fc61","type":"ui_gauge","z":"cbf071bf4271f8bf","name":"","group":"c925f0a1.c2066","order":4,"width":0,"height":0,"gtype":"gage","title":"Quality","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"30","seg2":"70","x":980,"y":1480,"wires":[]},{"id":"caf1399c70d72589","type":"debug","z":"cbf071bf4271f8bf","name":"debug to check Global Variable","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":1400,"wires":[]},{"id":"cba13f90ac21621c","type":"ui_button","z":"cbf071bf4271f8bf","name":"","group":"c925f0a1.c2066","order":8,"width":0,"height":0,"passthru":false,"label":"Confirm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Percentage","payloadType":"global","topic":"topic","topicType":"msg","x":780,"y":1480,"wires":[["570fd508fca5fc61","3273e3844902a386","36d74099cb31b16e"]]},{"id":"12c567776f1d7869","type":"function","z":"cbf071bf4271f8bf","name":"Global Variable","func":"global.set(\"Percentage\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1360,"wires":[["caf1399c70d72589"]]},{"id":"3273e3844902a386","type":"debug","z":"cbf071bf4271f8bf","name":"debug to check if Global Variable went through","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":1440,"wires":[]},{"id":"f5973a83a561159f","type":"ui_button","z":"cbf071bf4271f8bf","name":"","group":"c925f0a1.c2066","order":6,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":330,"y":1440,"wires":[["3a0ff80c0c583c97"]]},{"id":"3a0ff80c0c583c97","type":"function","z":"cbf071bf4271f8bf","name":"Reset Function","func":"if(msg.payload == true){\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1440,"wires":[["1f7e3d05d7d638f3"]]},{"id":"1f7e3d05d7d638f3","type":"link out","z":"cbf071bf4271f8bf","name":"link out 4","mode":"link","links":["1a5d983d782f7eca","ee442722896abb10","0f59cef31013c2c8"],"x":615,"y":1440,"wires":[]},{"id":"1a5d983d782f7eca","type":"link in","z":"cbf071bf4271f8bf","name":"link in 4","links":["1f7e3d05d7d638f3"],"x":825,"y":1440,"wires":[["570fd508fca5fc61"]]},{"id":"936adc63c5d63114","type":"debug","z":"cbf071bf4271f8bf","name":"debug to check join node","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":1400,"wires":[]},{"id":"0f59cef31013c2c8","type":"link in","z":"cbf071bf4271f8bf","name":"link in 5","links":["1f7e3d05d7d638f3"],"x":245,"y":1340,"wires":[["b2b7947737bffa8f"]]},{"id":"ee442722896abb10","type":"link in","z":"cbf071bf4271f8bf","name":"link in 6","links":["1f7e3d05d7d638f3"],"x":245,"y":1380,"wires":[["c1e0d672d2cc5398"]]},{"id":"36d74099cb31b16e","type":"link out","z":"cbf071bf4271f8bf","name":"link out 6","mode":"link","links":["7c6dfd83274dfbc3","a5bee2297d91e2bf"],"x":905,"y":1520,"wires":[]},{"id":"a1b5f6b3d37a5a60","type":"mqtt-broker","name":"","broker":"192.168.1.10","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"91221128c842e317","type":"mqtt-broker","name":"","broker":"192.168.2.16","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"eea0be80b588d55a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"685c2052c67a3d18","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"c925f0a1.c2066","type":"ui_group","name":"Group 1","tab":"f1dc1ca1.c1457","order":1,"disp":true,"width":6},{"id":"f1dc1ca1.c1457","type":"ui_tab","name":"Text-Button","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
