OEE Quality and Availability
[{"id":"d70ebf9dfa98b670","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"221252e1936e877a","type":"group","z":"d70ebf9dfa98b670","name":"Connect to Sensors","style":{"stroke":"#000000","fill":"#92d04f","label":true,"color":"#000000"},"nodes":["45509ebe6ac89924","6fd998b9420634ba","b32f3263b5fbe6a2","0397c2c7468d8131","4af99e4afc5e8db8","afc5381be8b189a0","f066bb9bcbd7004e","a2d35a67532c411e","8229428fa2125a0e","775732fd9d6dbcac","59dbde0cf517968f","0381100d2deb6eef","76345bc46df96a38","13e99be2446c8f3e","bc2defe6cb1b4675","18fb69d06d4077e3","383944bbc27c2f93","50ab4e0cfe9f0e8f","9bab5c43550afcdd","656dfaf8b55e4e06","06569f9bbd38b55d","c0da5cdba5b1d36c","90cbcdd93a491281","d17befa076033d6c"],"x":91,"y":59,"w":565,"h":362},{"id":"5671a9d0e8f2e249","type":"group","z":"d70ebf9dfa98b670","name":"Upload to InfluxDB","style":{"stroke":"#000000","fill":"#b797cf","label":true,"color":"#000000"},"nodes":["92f992606cd83e19","0d3e890a17536a05","d9dbf16c1cc21661","426c21c2b94f368b","5956d79dfe87a5b0","2150c2e865830381","32ae1e99a5b94a0f","79e56fe328cd5bbd","e03afde83f623fd0","5f0ad6a41c180d9a","c464262d8181d44f","4e39dddef50f7bed","70f662d8857e9166","93859b286420a556","53faabcfc368284f","aa3ca3ae11c75ea9","ab0db9f75f601f73","bd557a21bc4d05fd"],"x":714,"y":59,"w":752,"h":362},{"id":"056b01394181d97e","type":"group","z":"d70ebf9dfa98b670","name":"simulated data","style":{"label":true},"nodes":["54f9d068278c2737","f0c9a56daf2c5eac"],"x":124,"y":1194,"w":172,"h":122},{"id":"305a310215ea3fe9","type":"link in","z":"d70ebf9dfa98b670","name":"","links":["8229428fa2125a0e"],"x":125,"y":520,"wires":[[]]},{"id":"8ebc27a2dcd30eeb","type":"link in","z":"d70ebf9dfa98b670","name":"","links":["775732fd9d6dbcac"],"x":125,"y":560,"wires":[[]]},{"id":"18e973f3ede388bd","type":"link in","z":"d70ebf9dfa98b670","name":"","links":["59dbde0cf517968f"],"x":125,"y":600,"wires":[[]]},{"id":"c9729641d32ade4d","type":"link in","z":"d70ebf9dfa98b670","name":"","links":["0381100d2deb6eef"],"x":125,"y":640,"wires":[[]]},{"id":"9b5c680f5ac10a86","type":"link in","z":"d70ebf9dfa98b670","name":"","links":["76345bc46df96a38"],"x":125,"y":680,"wires":[[]]},{"id":"0edc37a397c2d9fd","type":"link in","z":"d70ebf9dfa98b670","name":"","links":["13e99be2446c8f3e"],"x":125,"y":720,"wires":[[]]},{"id":"98429b81532e3398","type":"link in","z":"d70ebf9dfa98b670","name":"","links":["bc2defe6cb1b4675"],"x":125,"y":760,"wires":[[]]},{"id":"56a82401bd630ca5","type":"link in","z":"d70ebf9dfa98b670","name":"","links":["18fb69d06d4077e3"],"x":125,"y":800,"wires":[[]]},{"id":"45509ebe6ac89924","type":"mqtt in","z":"d70ebf9dfa98b670","d":true,"g":"221252e1936e877a","name":"","topic":"Kube-IoT/CC:DE:67:17:22:82","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":260,"wires":[["06569f9bbd38b55d"]]},{"id":"6fd998b9420634ba","type":"mqtt in","z":"d70ebf9dfa98b670","d":true,"g":"221252e1936e877a","name":"","topic":"Kube-IoT/FD:61:44:10:62:94","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":340,"wires":[["90cbcdd93a491281"]]},{"id":"b32f3263b5fbe6a2","type":"mqtt in","z":"d70ebf9dfa98b670","d":true,"g":"221252e1936e877a","name":"","topic":"Kube-IoT/DE:11:8F:F3:93:E3","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":300,"wires":[["c0da5cdba5b1d36c"]]},{"id":"0397c2c7468d8131","type":"mqtt in","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"","topic":"Kube-IoT/FE:EE:63:92:CF:15","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":140,"wires":[["50ab4e0cfe9f0e8f"]]},{"id":"4af99e4afc5e8db8","type":"mqtt in","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"","topic":"Kube-IoT/F4:CA:B7:DC:58:E9","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":220,"wires":[["656dfaf8b55e4e06"]]},{"id":"afc5381be8b189a0","type":"mqtt in","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"","topic":"Kube-IoT/C4:43:A9:EA:BB:16","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":180,"wires":[["9bab5c43550afcdd"]]},{"id":"f066bb9bcbd7004e","type":"mqtt in","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"","topic":"Kube-IoT/F7:49:20:D0:F3:54","qos":"2","datatype":"json","broker":"91221128c842e317","nl":false,"rap":false,"inputs":0,"x":237,"y":100,"wires":[["383944bbc27c2f93"]]},{"id":"a2d35a67532c411e","type":"mqtt in","z":"d70ebf9dfa98b670","d":true,"g":"221252e1936e877a","name":"","topic":"Kube-IoT/","qos":"2","datatype":"json","broker":"","nl":false,"rap":false,"inputs":0,"x":180,"y":380,"wires":[["d17befa076033d6c"]]},{"id":"8229428fa2125a0e","type":"link out","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Sensor 1","mode":"link","links":["5f0ad6a41c180d9a","305a310215ea3fe9"],"x":615,"y":100,"wires":[]},{"id":"775732fd9d6dbcac","type":"link out","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Sensor 2","mode":"link","links":["c464262d8181d44f","8ebc27a2dcd30eeb"],"x":615,"y":140,"wires":[]},{"id":"59dbde0cf517968f","type":"link out","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Sensor 3","mode":"link","links":["4e39dddef50f7bed","18e973f3ede388bd"],"x":615,"y":180,"wires":[]},{"id":"0381100d2deb6eef","type":"link out","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Sensor 4","mode":"link","links":["70f662d8857e9166","c9729641d32ade4d"],"x":615,"y":220,"wires":[]},{"id":"76345bc46df96a38","type":"link out","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Sensor 5","mode":"link","links":["9b5c680f5ac10a86","93859b286420a556"],"x":615,"y":260,"wires":[]},{"id":"13e99be2446c8f3e","type":"link out","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Sensor 6","mode":"link","links":["0edc37a397c2d9fd","53faabcfc368284f"],"x":615,"y":300,"wires":[]},{"id":"bc2defe6cb1b4675","type":"link out","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Sensor 7","mode":"link","links":["98429b81532e3398","aa3ca3ae11c75ea9"],"x":615,"y":340,"wires":[]},{"id":"18fb69d06d4077e3","type":"link out","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Sensor 8","mode":"link","links":["ab0db9f75f601f73","56a82401bd630ca5"],"x":615,"y":380,"wires":[]},{"id":"383944bbc27c2f93","type":"change","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Spindle Tool","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":100,"wires":[["8229428fa2125a0e"]]},{"id":"50ab4e0cfe9f0e8f","type":"change","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Y Axis Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":140,"wires":[["775732fd9d6dbcac"]]},{"id":"9bab5c43550afcdd","type":"change","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Spindle Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":180,"wires":[["59dbde0cf517968f"]]},{"id":"656dfaf8b55e4e06","type":"change","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Z Axis Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":220,"wires":[["0381100d2deb6eef"]]},{"id":"06569f9bbd38b55d","type":"change","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["76345bc46df96a38"]]},{"id":"c0da5cdba5b1d36c","type":"change","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["13e99be2446c8f3e"]]},{"id":"90cbcdd93a491281","type":"change","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":340,"wires":[["bc2defe6cb1b4675"]]},{"id":"d17befa076033d6c","type":"change","z":"d70ebf9dfa98b670","g":"221252e1936e877a","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["18fb69d06d4077e3"]]},{"id":"92f992606cd83e19","type":"function","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":100,"wires":[["e03afde83f623fd0"]]},{"id":"0d3e890a17536a05","type":"function","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":300,"wires":[["e03afde83f623fd0"]]},{"id":"d9dbf16c1cc21661","type":"function","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":220,"wires":[["e03afde83f623fd0"]]},{"id":"426c21c2b94f368b","type":"function","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":140,"wires":[["e03afde83f623fd0"]]},{"id":"5956d79dfe87a5b0","type":"function","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[["e03afde83f623fd0"]]},{"id":"2150c2e865830381","type":"function","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":180,"wires":[["e03afde83f623fd0"]]},{"id":"32ae1e99a5b94a0f","type":"function","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":340,"wires":[["e03afde83f623fd0"]]},{"id":"79e56fe328cd5bbd","type":"function","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":380,"wires":[["e03afde83f623fd0"]]},{"id":"e03afde83f623fd0","type":"change","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"Formatter","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"measurement\": msg.topic,\t       \"fields\": msg.$.payload\t  }\t]         ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":240,"wires":[["bd557a21bc4d05fd"]],"info":"To change the "},{"id":"5f0ad6a41c180d9a","type":"link in","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"","links":["8229428fa2125a0e"],"x":755,"y":100,"wires":[["92f992606cd83e19"]]},{"id":"c464262d8181d44f","type":"link in","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"","links":["775732fd9d6dbcac"],"x":755,"y":140,"wires":[["426c21c2b94f368b"]]},{"id":"4e39dddef50f7bed","type":"link in","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"","links":["59dbde0cf517968f"],"x":755,"y":180,"wires":[["2150c2e865830381"]]},{"id":"70f662d8857e9166","type":"link in","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"","links":["0381100d2deb6eef"],"x":755,"y":220,"wires":[["d9dbf16c1cc21661"]]},{"id":"93859b286420a556","type":"link in","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"","links":["76345bc46df96a38"],"x":755,"y":260,"wires":[["5956d79dfe87a5b0"]]},{"id":"53faabcfc368284f","type":"link in","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"","links":["13e99be2446c8f3e"],"x":755,"y":300,"wires":[["0d3e890a17536a05"]]},{"id":"aa3ca3ae11c75ea9","type":"link in","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"","links":["bc2defe6cb1b4675"],"x":755,"y":340,"wires":[["32ae1e99a5b94a0f"]]},{"id":"ab0db9f75f601f73","type":"link in","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","name":"","links":["18fb69d06d4077e3"],"x":755,"y":380,"wires":[["79e56fe328cd5bbd"]]},{"id":"bd557a21bc4d05fd","type":"influxdb batch","z":"d70ebf9dfa98b670","g":"5671a9d0e8f2e249","influxdb":"eea0be80b588d55a","precision":"","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1320,"y":240,"wires":[]},{"id":"946877d1b767138f","type":"influxdb out","z":"d70ebf9dfa98b670","influxdb":"685c2052c67a3d18","name":"","measurement":"Performance","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1680,"y":220,"wires":[]},{"id":"c863108cf8b130e3","type":"influxdb out","z":"d70ebf9dfa98b670","influxdb":"685c2052c67a3d18","name":"","measurement":"Quality","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1660,"y":310,"wires":[]},{"id":"d9143a3c9536c333","type":"influxdb out","z":"d70ebf9dfa98b670","influxdb":"685c2052c67a3d18","name":"","measurement":"OEE","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1650,"y":280,"wires":[]},{"id":"75436b86b5759de2","type":"influxdb out","z":"d70ebf9dfa98b670","influxdb":"685c2052c67a3d18","name":"","measurement":"Availability Percentage","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1710,"y":250,"wires":[]},{"id":"54f9d068278c2737","type":"inject","z":"d70ebf9dfa98b670","g":"056b01394181d97e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"46","payloadType":"num","x":220,"y":1235,"wires":[["47f8290c659de353"]]},{"id":"f0c9a56daf2c5eac","type":"inject","z":"d70ebf9dfa98b670","g":"056b01394181d97e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"44","payloadType":"num","x":220,"y":1275,"wires":[["47f8290c659de353"]]},{"id":"11bbe6ca55f869ab","type":"debug","z":"d70ebf9dfa98b670","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"elapsed.millis","targetType":"msg","statusVal":"elapsed.millis","statusType":"auto","x":1120,"y":1255,"wires":[]},{"id":"b687622b92b7dd72","type":"hourglass","z":"d70ebf9dfa98b670","name":"","persistId":"","humanizeLocale":"","x":890,"y":1295,"wires":[["11bbe6ca55f869ab","6c5ba88fc2e294ef","b073def8c54c807d","b4dce99d4db19d3b"]]},{"id":"ecd73ce7bdda0573","type":"change","z":"d70ebf9dfa98b670","name":"{command:'reset'}","rules":[{"t":"set","p":"command","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":705,"y":1365,"wires":[["b687622b92b7dd72"]]},{"id":"62ada41a3144053a","type":"function","z":"d70ebf9dfa98b670","name":"","func":"if(msg.payload >= 45){\nmsg.command  = msg.payload \nmsg.command = \"start\"\n}\n\nif(msg.payload < 45){\n    msg.command = msg.payload\n    msg.command = \"stop\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1295,"wires":[["b687622b92b7dd72"]]},{"id":"2bcba3b062d86a9d","type":"inject","z":"d70ebf9dfa98b670","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":500,"y":1400,"wires":[["a4f4f3d7ca46ca25"]]},{"id":"a4f4f3d7ca46ca25","type":"change","z":"d70ebf9dfa98b670","name":"{command:'status'}","rules":[{"t":"set","p":"command","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":705,"y":1400,"wires":[["b687622b92b7dd72"]]},{"id":"776831cafcdb09bf","type":"timerswitch","z":"d70ebf9dfa98b670","name":"","ontopic":"","offtopic":"","onpayload":"1","offpayload":"0","disabled":false,"schedules":[{"on_h":"10","on_m":"36","on_s":"00","off_h":"11","off_m":"36","off_s":"00","valid":true}],"x":200,"y":1350,"wires":[["0d7b1294ebdcb9d5"]]},{"id":"47f8290c659de353","type":"gate","z":"d70ebf9dfa98b670","name":"","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"storeName":"memory","x":505,"y":1295,"wires":[["62ada41a3144053a"]]},{"id":"988cd3108e6bb6d5","type":"change","z":"d70ebf9dfa98b670","name":"{command:'stop'}","rules":[{"t":"set","p":"command","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":705,"y":1330,"wires":[["b687622b92b7dd72"]]},{"id":"2a29a84978bf7d69","type":"function","z":"d70ebf9dfa98b670","name":"","func":"if(msg.payload == \"ON\"){\n    msg.payload = 1\n}\n\nif(msg.payload == \"OFF\"){\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":785,"wires":[[]]},{"id":"0d7b1294ebdcb9d5","type":"function","z":"d70ebf9dfa98b670","name":"","func":"if(msg.payload == 0){\n    msg.payload = \"close\"\n    msg.topic = \"control\"\n}\n\nif(msg.payload == 1){\n    msg.payload = \"open\"\n    msg.topic = \"control\"\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":365,"y":1350,"wires":[["60a655f939eb9c9d","47f8290c659de353","046bf93df464b921"]]},{"id":"6c5ba88fc2e294ef","type":"debug","z":"d70ebf9dfa98b670","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"elapsed.time","targetType":"msg","statusVal":"elapsed","statusType":"auto","x":1120,"y":1295,"wires":[]},{"id":"60a655f939eb9c9d","type":"switch","z":"d70ebf9dfa98b670","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"close","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":1350,"wires":[["988cd3108e6bb6d5","ecd73ce7bdda0573"]]},{"id":"b073def8c54c807d","type":"function","z":"d70ebf9dfa98b670","name":"","func":"var a = msg.elapsed.time.seconds\nvar b = msg.elapsed.time.minutes\nvar c = msg.elapsed.time.hours\na = a/3600;\nb = b/60;\nmsg.payload = (a+b+c);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":1405,"wires":[["5eb2d689c4044deb"]]},{"id":"5eb2d689c4044deb","type":"influxdb out","z":"d70ebf9dfa98b670","influxdb":"84a649241a08504b","name":"","measurement":"Availability","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ecf35f5a71532119","bucket":"c7f8d0a2dac7b469","x":1435,"y":1365,"wires":[]},{"id":"b4dce99d4db19d3b","type":"function","z":"d70ebf9dfa98b670","name":"","func":"var a = msg.elapsed.time.seconds\nvar b = msg.elapsed.time.minutes\nvar c = msg.elapsed.time.hours\na = a/3600;\nb = b/60;\nmsg.payload = ((a+b+c)/8)*100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1025,"y":1445,"wires":[["8c405471ecf21950"]]},{"id":"d47083a112a8220f","type":"influxdb out","z":"d70ebf9dfa98b670","influxdb":"84a649241a08504b","name":"","measurement":"Availability Percentage","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ecf35f5a71532119","bucket":"c7f8d0a2dac7b469","x":1475,"y":1405,"wires":[]},{"id":"e7206799af76aacb","type":"ui_text_input","z":"d70ebf9dfa98b670","name":"","label":"Good Products","tooltip":"","group":"54c7fdf6c43fcb4c","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"item1","topicType":"str","x":330,"y":1690,"wires":[["e5a7f2a8574df5d0"]]},{"id":"78f62ce02b566674","type":"ui_text_input","z":"d70ebf9dfa98b670","name":"","label":"Total Products","tooltip":"","group":"54c7fdf6c43fcb4c","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"item2","topicType":"str","x":330,"y":1730,"wires":[["e5a7f2a8574df5d0"]]},{"id":"e5a7f2a8574df5d0","type":"join","z":"d70ebf9dfa98b670","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":480,"y":1710,"wires":[["5198c5b4266e9917","fae3b73d578c9718"]]},{"id":"5198c5b4266e9917","type":"function","z":"d70ebf9dfa98b670","name":"msg.payload.item1 / msg.payload.item2","func":"msg.payload = (((msg.payload.item1 / msg.payload.item2)*100).toFixed(2))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1710,"wires":[["a612544edc6169eb"]]},{"id":"e6508087b1f4569a","type":"ui_gauge","z":"d70ebf9dfa98b670","name":"","group":"54c7fdf6c43fcb4c","order":4,"width":0,"height":0,"gtype":"gage","title":"Quality","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"30","seg2":"70","x":950,"y":1830,"wires":[]},{"id":"d72d7c50f91fbcbc","type":"debug","z":"d70ebf9dfa98b670","name":"debug to check Global Variable","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":1750,"wires":[]},{"id":"e48ff19f3e551f81","type":"ui_button","z":"d70ebf9dfa98b670","name":"","group":"54c7fdf6c43fcb4c","order":8,"width":0,"height":0,"passthru":false,"label":"Confirm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Percentage","payloadType":"global","topic":"topic","topicType":"msg","x":750,"y":1830,"wires":[["e6508087b1f4569a","bb3547fe51530367","939c0cf1d5d96997"]]},{"id":"a612544edc6169eb","type":"function","z":"d70ebf9dfa98b670","name":"Global Variable","func":"global.set(\"Percentage\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":1710,"wires":[["d72d7c50f91fbcbc"]]},{"id":"bb3547fe51530367","type":"debug","z":"d70ebf9dfa98b670","name":"debug to check if Global Variable went through","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":1790,"wires":[]},{"id":"54fa96eb5a9e9704","type":"ui_button","z":"d70ebf9dfa98b670","name":"","group":"54c7fdf6c43fcb4c","order":6,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":300,"y":1790,"wires":[["618622e65a688366"]]},{"id":"618622e65a688366","type":"function","z":"d70ebf9dfa98b670","name":"Reset Function","func":"if(msg.payload == true){\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1790,"wires":[["9aa9f7894d777c44"]]},{"id":"9aa9f7894d777c44","type":"link out","z":"d70ebf9dfa98b670","name":"link out 4","mode":"link","links":["e4949cd4ac731f11","e4d3cc4baf5d5313","c52c81ec31cdbfed"],"x":585,"y":1790,"wires":[]},{"id":"e4949cd4ac731f11","type":"link in","z":"d70ebf9dfa98b670","name":"link in 4","links":["9aa9f7894d777c44"],"x":795,"y":1790,"wires":[["e6508087b1f4569a"]]},{"id":"fae3b73d578c9718","type":"debug","z":"d70ebf9dfa98b670","name":"debug to check join node","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1750,"wires":[]},{"id":"c52c81ec31cdbfed","type":"link in","z":"d70ebf9dfa98b670","name":"link in 5","links":["9aa9f7894d777c44"],"x":190,"y":1690,"wires":[["e7206799af76aacb"]]},{"id":"e4d3cc4baf5d5313","type":"link in","z":"d70ebf9dfa98b670","name":"link in 6","links":["9aa9f7894d777c44"],"x":190,"y":1730,"wires":[["78f62ce02b566674"]]},{"id":"939c0cf1d5d96997","type":"link out","z":"d70ebf9dfa98b670","name":"link out 6","mode":"link","links":["7c6dfd83274dfbc3","a5bee2297d91e2bf"],"x":900,"y":1675,"wires":[]},{"id":"795c80b65c502ca1","type":"debug","z":"d70ebf9dfa98b670","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1355,"y":1445,"wires":[]},{"id":"046bf93df464b921","type":"gate","z":"d70ebf9dfa98b670","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"storeName":"memory","x":665,"y":1445,"wires":[["8c405471ecf21950"]]},{"id":"8c405471ecf21950","type":"hold","z":"d70ebf9dfa98b670","name":"","x":1195,"y":1445,"wires":[["795c80b65c502ca1","d47083a112a8220f"]]},{"id":"1c3d102f6b6e5f62","type":"inject","z":"d70ebf9dfa98b670","name":"","props":[{"p":"trigger","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":480,"y":1445,"wires":[["046bf93df464b921"]]},{"id":"a1b5f6b3d37a5a60","type":"mqtt-broker","name":"","broker":"192.168.1.10","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"91221128c842e317","type":"mqtt-broker","name":"","broker":"192.168.2.16","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"eea0be80b588d55a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"685c2052c67a3d18","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"84a649241a08504b","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"54c7fdf6c43fcb4c","type":"ui_group","name":"Group 1","tab":"f1dc1ca1.c1457","order":1,"disp":true,"width":6},{"id":"f1dc1ca1.c1457","type":"ui_tab","name":"Text-Button","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
