OEE Quality Input Example.json
[{"id":"078f16289a7419e4","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"86b2a978bd946f51","type":"ui_text_input","z":"078f16289a7419e4","name":"","label":"Good Parts","tooltip":"","group":"48931979683a00a1","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":610,"y":100,"wires":[["db6c4fe0285aad34"]]},{"id":"73cff1c5269017be","type":"ui_text_input","z":"078f16289a7419e4","name":"","label":"Total completed parts","tooltip":"","group":"48931979683a00a1","order":0,"width":"0","height":"0","passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":640,"y":60,"wires":[["9522d03f9e826fc8"]]},{"id":"9d46861a6cbdb3f0","type":"calculator","z":"078f16289a7419e4","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"","round":false,"decimals":0,"x":910,"y":160,"wires":[["24834a7dfe159cab"]]},{"id":"abee0f10013fe160","type":"join","z":"078f16289a7419e4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":160,"wires":[["9d46861a6cbdb3f0"]]},{"id":"349d839d2e77bb9c","type":"debug","z":"078f16289a7419e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1230,"y":160,"wires":[]},{"id":"a72c06e8959690ba","type":"ui_button","z":"078f16289a7419e4","name":"","group":"48931979683a00a1","order":0,"width":"3","height":"2","passthru":false,"label":"Confirm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":280,"y":200,"wires":[["c65b8c43084c4dcc"]]},{"id":"9522d03f9e826fc8","type":"change","z":"078f16289a7419e4","name":"","rules":[{"t":"set","p":"parts","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":60,"wires":[[]]},{"id":"c65b8c43084c4dcc","type":"switch","z":"078f16289a7419e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":200,"wires":[["d15a36d1c7dc321e","9f3d873b1d3e245f"]]},{"id":"d15a36d1c7dc321e","type":"change","z":"078f16289a7419e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"goodparts","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":200,"wires":[["de43108667c68f73","abee0f10013fe160"]]},{"id":"de43108667c68f73","type":"debug","z":"078f16289a7419e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":200,"wires":[]},{"id":"9f3d873b1d3e245f","type":"change","z":"078f16289a7419e4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"parts","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":240,"wires":[["caecf31622aa5830","abee0f10013fe160"]]},{"id":"caecf31622aa5830","type":"debug","z":"078f16289a7419e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":240,"wires":[]},{"id":"db6c4fe0285aad34","type":"change","z":"078f16289a7419e4","name":"","rules":[{"t":"set","p":"goodparts","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":100,"wires":[[]]},{"id":"b704a15224e19e38","type":"ui_button","z":"078f16289a7419e4","name":"","group":"48931979683a00a1","order":0,"width":"3","height":"2","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":270,"y":80,"wires":[["ec4ec4a48d731e7b"]]},{"id":"ec4ec4a48d731e7b","type":"function","z":"078f16289a7419e4","name":"","func":"if(msg.payload  == true){\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":80,"wires":[["86b2a978bd946f51","73cff1c5269017be","49652d90a01a7fee"]]},{"id":"42ef803231c98f0f","type":"inject","z":"078f16289a7419e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":270,"y":120,"wires":[["ec4ec4a48d731e7b"]]},{"id":"24834a7dfe159cab","type":"function","z":"078f16289a7419e4","name":"","func":"msg.payload = msg.payload.toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":160,"wires":[["349d839d2e77bb9c","4fb6fe0ad10034ab"]]},{"id":"4fb6fe0ad10034ab","type":"ui_gauge","z":"078f16289a7419e4","name":"","group":"48931979683a00a1","order":4,"width":0,"height":0,"gtype":"gage","title":"Performance","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#ee1b1b","#e6e600","#3ccb3a"],"seg1":"","seg2":"","x":1230,"y":200,"wires":[]},{"id":"49652d90a01a7fee","type":"link out","z":"078f16289a7419e4","name":"","mode":"link","links":["568c712ff8bae6c9"],"x":425,"y":20,"wires":[]},{"id":"568c712ff8bae6c9","type":"link in","z":"078f16289a7419e4","name":"","links":["49652d90a01a7fee"],"x":1095,"y":240,"wires":[["4fb6fe0ad10034ab"]]},{"id":"48931979683a00a1","type":"ui_group","name":"Quality Input","tab":"9d2e126cb56f1212","order":2,"disp":true,"width":"6","collapse":false},{"id":"9d2e126cb56f1212","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
