OEE SP V2
[{"id":"12090906de712e74","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"f5ca137e7e2c6e67","type":"group","z":"12090906de712e74","name":"Connect to Sensors","style":{"stroke":"#000000","fill":"#92d04f","label":true,"color":"#000000"},"nodes":["e710139ff574936b","42c2bdcb45db491f","bf7cff8ceea4ceec","2a2e28e745b710a7","801a5e62bbdff57f","1d624025e9612173","27f37a998b935881","cc1a368fb41b091a","fa2a8d0dab0567a8","009c6736d8fbed42","b34205bd9360d75d","e180a32ad0a70201","914ad66e03548ec0","d1ced480f1b72b91","c7c8e921d782c35e","a429ba7439bace3b","7802f3ae3ea4bfee","1aef03f5b52fd3b6","8a603c73b185a824","6bdcce82ce7bcf2a","00f9cb5c6bb71d99","8d714f2b19a3801b","296f634e1a8ff04c","171f23ec6baa1473"],"x":91,"y":59,"w":565,"h":362},{"id":"3109d488f230b008","type":"group","z":"12090906de712e74","name":"Upload to InfluxDB","style":{"stroke":"#000000","fill":"#b797cf","label":true,"color":"#000000"},"nodes":["d7edf265062c8723","f4bf14b78fb3b4b6","f1f92b78eaa4a245","c245847de2acd2b7","587ec1c8bf9975aa","40530183c526137d","d20490d972c86017","686c93a4268b5423","b8a9c6122d006dc2","5541fd6bb2be95b7","6a0fe15ed562bb83","0ccec0db87fb4d5e","b7f7be79ce198c90","0969732df2210c17","32bbb3ade61c92cc","9f1569f98c356a68","a185acf2c819e7ad","486e70256b1e8c41"],"x":714,"y":59,"w":752,"h":362},{"id":"ce38585454f53480","type":"group","z":"12090906de712e74","g":"9d7727608cd87c35","name":"simulated data","style":{"label":true},"nodes":["aa35de9a7d9c553a","525410e268a81786"],"x":194,"y":784,"w":172,"h":122},{"id":"764b80b744c1f5f7","type":"group","z":"12090906de712e74","name":"OEE","style":{"stroke":"#001f60","fill":"#7fb7df","label":true,"color":"#000000"},"nodes":["81caada61074d77c","5bd92225ea2652be","a9d4eeb04a38bafe","f2ef671de08fe94f","102af18d2259e7d2","759c638b60a5f156","d1332f232040d7e2","17777a74de3b905d","9cfaf4a8fd974318","99a1e2d324a7aeb8","57f51607a5493c58","0c31f6f68b7c8c4e"],"x":179,"y":474,"w":907,"h":247},{"id":"9d7727608cd87c35","type":"group","z":"12090906de712e74","name":"Availability","style":{"stroke":"#001f60","fill":"#addb7b","label":true,"color":"#001f60"},"nodes":["baea737df2468792","227930be74d3ff51","7126aa2ca6d1cc43","01f2d45639e93265","10b2c9c0259bb08c","e9fa70934a7e095f","fbadcfd3137bcb4c","f8d0940ce2542b67","e6a2eed19a02140a","ff4b50cc59f72adf","72cee87c33427240","22ac1636e94d2e83","4bb9622eecc2de26","eec15f682299432f","8944da33d7736b4c","a59b234beafce39b","a527090971726d2e","9bb91716213d9605","76042a3a7f08eafe","d81c42013bef319c","faa91600fc716d87","d5d3ba623d764a74","04cc04ba4a61e45e","8eadf03349c1ae0d","b5335d58bace364a","ce38585454f53480","600e99092cac8cf7"],"x":159,"y":758,"w":1592,"h":423},{"id":"d4cd0c9b1eacaaab","type":"group","z":"12090906de712e74","name":"Quality ","style":{"stroke":"#000000","fill":"#b797cf","label":true,"color":"#001f60"},"nodes":["432f68fe68be3579","44d44df399287f1e","3c20a298af105537","7c14f097ae468b5e","53a3a8b7adec207e","28b90d82aa1ea794","5bfd5bfcf9b3ee54","4027243b93b4a1e8","6df84dc1ccc9f382","9e5114d64c6d4d76","40ea2bdd8020e101","21e4c0538f45f3f6","57236dc96c23fd51","dc01ed0ec46c986f","ec30827c454a7b40","8802b8e997452875","fa9ddff2757294e7","2e0a6cd12361c2f8","ad912bf90861a23f","971b2fc55fc7630b"],"x":159,"y":1229,"w":1462,"h":212},{"id":"683d8ae3f77ccc9a","type":"group","z":"12090906de712e74","name":"Quality ","style":{"stroke":"#000000","fill":"#ffdf7f","label":true,"color":"#001f60"},"nodes":["4f99474da1602839","23cdfc40efe7befe","6a82ba396112462e","b5d63691e14d21d4","b2126e48eb879264","514aea007ccff09e","c105b883ea50345b","ea33f449cabd4f91","c3a6687aac88a8f8","b29b17edd248dcb9","be70a57a2d63f5a5","94000b40e8ac6f14","e008d7ef5f6cb21d","a2df73d123887e3c"],"x":164,"y":1474,"w":1152,"h":287},{"id":"e79ad3c427a532fa","type":"link in","z":"12090906de712e74","name":"","links":["fa2a8d0dab0567a8"],"x":125,"y":520,"wires":[[]]},{"id":"4d0a72754a00392d","type":"link in","z":"12090906de712e74","name":"","links":["009c6736d8fbed42"],"x":125,"y":560,"wires":[[]]},{"id":"d5ed151645c63543","type":"link in","z":"12090906de712e74","name":"","links":["b34205bd9360d75d"],"x":125,"y":600,"wires":[[]]},{"id":"baa990643751374d","type":"link in","z":"12090906de712e74","name":"","links":["e180a32ad0a70201"],"x":125,"y":640,"wires":[[]]},{"id":"9072eb7d876e52b7","type":"link in","z":"12090906de712e74","name":"","links":["914ad66e03548ec0"],"x":125,"y":680,"wires":[[]]},{"id":"4154502f10de294e","type":"link in","z":"12090906de712e74","name":"","links":["d1ced480f1b72b91"],"x":125,"y":720,"wires":[[]]},{"id":"189c4189a42505ce","type":"link in","z":"12090906de712e74","name":"","links":["c7c8e921d782c35e"],"x":125,"y":760,"wires":[[]]},{"id":"ce2856e1e9971f44","type":"link in","z":"12090906de712e74","name":"","links":["a429ba7439bace3b"],"x":125,"y":800,"wires":[[]]},{"id":"e710139ff574936b","type":"mqtt in","z":"12090906de712e74","d":true,"g":"f5ca137e7e2c6e67","name":"","topic":"Kube-IoT/CC:DE:67:17:22:82","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":260,"wires":[["00f9cb5c6bb71d99"]]},{"id":"42c2bdcb45db491f","type":"mqtt in","z":"12090906de712e74","d":true,"g":"f5ca137e7e2c6e67","name":"","topic":"Kube-IoT/FD:61:44:10:62:94","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":340,"wires":[["296f634e1a8ff04c"]]},{"id":"bf7cff8ceea4ceec","type":"mqtt in","z":"12090906de712e74","d":true,"g":"f5ca137e7e2c6e67","name":"","topic":"Kube-IoT/DE:11:8F:F3:93:E3","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":300,"wires":[["8d714f2b19a3801b"]]},{"id":"2a2e28e745b710a7","type":"mqtt in","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"","topic":"Kube-IoT/FE:EE:63:92:CF:15","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":140,"wires":[["1aef03f5b52fd3b6"]]},{"id":"801a5e62bbdff57f","type":"mqtt in","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"","topic":"Kube-IoT/F4:CA:B7:DC:58:E9","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":220,"wires":[["6bdcce82ce7bcf2a"]]},{"id":"1d624025e9612173","type":"mqtt in","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"","topic":"Kube-IoT/C4:43:A9:EA:BB:16","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":180,"wires":[["8a603c73b185a824"]]},{"id":"27f37a998b935881","type":"mqtt in","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"","topic":"Kube-IoT/F7:49:20:D0:F3:54","qos":"2","datatype":"json","broker":"91221128c842e317","nl":false,"rap":false,"inputs":0,"x":237,"y":100,"wires":[["7802f3ae3ea4bfee"]]},{"id":"cc1a368fb41b091a","type":"mqtt in","z":"12090906de712e74","d":true,"g":"f5ca137e7e2c6e67","name":"","topic":"Kube-IoT/","qos":"2","datatype":"json","broker":"","nl":false,"rap":false,"inputs":0,"x":180,"y":380,"wires":[["171f23ec6baa1473"]]},{"id":"fa2a8d0dab0567a8","type":"link out","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Sensor 1","mode":"link","links":["5541fd6bb2be95b7","e79ad3c427a532fa"],"x":615,"y":100,"wires":[]},{"id":"009c6736d8fbed42","type":"link out","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Sensor 2","mode":"link","links":["6a0fe15ed562bb83","4d0a72754a00392d"],"x":615,"y":140,"wires":[]},{"id":"b34205bd9360d75d","type":"link out","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Sensor 3","mode":"link","links":["0ccec0db87fb4d5e","d5ed151645c63543"],"x":615,"y":180,"wires":[]},{"id":"e180a32ad0a70201","type":"link out","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Sensor 4","mode":"link","links":["b7f7be79ce198c90","baa990643751374d"],"x":615,"y":220,"wires":[]},{"id":"914ad66e03548ec0","type":"link out","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Sensor 5","mode":"link","links":["9072eb7d876e52b7","0969732df2210c17"],"x":615,"y":260,"wires":[]},{"id":"d1ced480f1b72b91","type":"link out","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Sensor 6","mode":"link","links":["4154502f10de294e","32bbb3ade61c92cc"],"x":615,"y":300,"wires":[]},{"id":"c7c8e921d782c35e","type":"link out","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Sensor 7","mode":"link","links":["189c4189a42505ce","9f1569f98c356a68"],"x":615,"y":340,"wires":[]},{"id":"a429ba7439bace3b","type":"link out","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Sensor 8","mode":"link","links":["a185acf2c819e7ad","ce2856e1e9971f44"],"x":615,"y":380,"wires":[]},{"id":"7802f3ae3ea4bfee","type":"change","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Spindle Tool","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":100,"wires":[["fa2a8d0dab0567a8"]]},{"id":"1aef03f5b52fd3b6","type":"change","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Y Axis Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":140,"wires":[["009c6736d8fbed42"]]},{"id":"8a603c73b185a824","type":"change","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Spindle Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":180,"wires":[["b34205bd9360d75d"]]},{"id":"6bdcce82ce7bcf2a","type":"change","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Z Axis Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":220,"wires":[["e180a32ad0a70201"]]},{"id":"00f9cb5c6bb71d99","type":"change","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["914ad66e03548ec0"]]},{"id":"8d714f2b19a3801b","type":"change","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["d1ced480f1b72b91"]]},{"id":"296f634e1a8ff04c","type":"change","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":340,"wires":[["c7c8e921d782c35e"]]},{"id":"171f23ec6baa1473","type":"change","z":"12090906de712e74","g":"f5ca137e7e2c6e67","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["a429ba7439bace3b"]]},{"id":"d7edf265062c8723","type":"function","z":"12090906de712e74","g":"3109d488f230b008","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":100,"wires":[["b8a9c6122d006dc2"]]},{"id":"f4bf14b78fb3b4b6","type":"function","z":"12090906de712e74","g":"3109d488f230b008","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":300,"wires":[["b8a9c6122d006dc2"]]},{"id":"f1f92b78eaa4a245","type":"function","z":"12090906de712e74","g":"3109d488f230b008","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":220,"wires":[["b8a9c6122d006dc2"]]},{"id":"c245847de2acd2b7","type":"function","z":"12090906de712e74","g":"3109d488f230b008","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":140,"wires":[["b8a9c6122d006dc2"]]},{"id":"587ec1c8bf9975aa","type":"function","z":"12090906de712e74","g":"3109d488f230b008","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[["b8a9c6122d006dc2"]]},{"id":"40530183c526137d","type":"function","z":"12090906de712e74","g":"3109d488f230b008","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":180,"wires":[["b8a9c6122d006dc2"]]},{"id":"d20490d972c86017","type":"function","z":"12090906de712e74","g":"3109d488f230b008","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":340,"wires":[["b8a9c6122d006dc2"]]},{"id":"686c93a4268b5423","type":"function","z":"12090906de712e74","g":"3109d488f230b008","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":380,"wires":[["b8a9c6122d006dc2"]]},{"id":"b8a9c6122d006dc2","type":"change","z":"12090906de712e74","g":"3109d488f230b008","name":"Formatter","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"measurement\": msg.topic,\t       \"fields\": msg.$.payload\t  }\t]         ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":240,"wires":[["486e70256b1e8c41"]],"info":"To change the "},{"id":"5541fd6bb2be95b7","type":"link in","z":"12090906de712e74","g":"3109d488f230b008","name":"","links":["fa2a8d0dab0567a8"],"x":755,"y":100,"wires":[["d7edf265062c8723"]]},{"id":"6a0fe15ed562bb83","type":"link in","z":"12090906de712e74","g":"3109d488f230b008","name":"","links":["009c6736d8fbed42"],"x":755,"y":140,"wires":[["c245847de2acd2b7"]]},{"id":"0ccec0db87fb4d5e","type":"link in","z":"12090906de712e74","g":"3109d488f230b008","name":"","links":["b34205bd9360d75d"],"x":755,"y":180,"wires":[["40530183c526137d"]]},{"id":"b7f7be79ce198c90","type":"link in","z":"12090906de712e74","g":"3109d488f230b008","name":"","links":["e180a32ad0a70201"],"x":755,"y":220,"wires":[["f1f92b78eaa4a245"]]},{"id":"0969732df2210c17","type":"link in","z":"12090906de712e74","g":"3109d488f230b008","name":"","links":["914ad66e03548ec0"],"x":755,"y":260,"wires":[["587ec1c8bf9975aa"]]},{"id":"32bbb3ade61c92cc","type":"link in","z":"12090906de712e74","g":"3109d488f230b008","name":"","links":["d1ced480f1b72b91"],"x":755,"y":300,"wires":[["f4bf14b78fb3b4b6"]]},{"id":"9f1569f98c356a68","type":"link in","z":"12090906de712e74","g":"3109d488f230b008","name":"","links":["c7c8e921d782c35e"],"x":755,"y":340,"wires":[["d20490d972c86017"]]},{"id":"a185acf2c819e7ad","type":"link in","z":"12090906de712e74","g":"3109d488f230b008","name":"","links":["a429ba7439bace3b"],"x":755,"y":380,"wires":[["686c93a4268b5423"]]},{"id":"486e70256b1e8c41","type":"influxdb batch","z":"12090906de712e74","g":"3109d488f230b008","influxdb":"eea0be80b588d55a","precision":"","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1320,"y":240,"wires":[]},{"id":"b9079cd130f13cad","type":"influxdb out","z":"12090906de712e74","influxdb":"685c2052c67a3d18","name":"","measurement":"Performance","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1680,"y":220,"wires":[]},{"id":"a8369228af6a960d","type":"influxdb out","z":"12090906de712e74","influxdb":"685c2052c67a3d18","name":"","measurement":"Quality","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1660,"y":310,"wires":[]},{"id":"9189093f4e50269f","type":"influxdb out","z":"12090906de712e74","influxdb":"685c2052c67a3d18","name":"","measurement":"OEE","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1650,"y":280,"wires":[]},{"id":"a33e24a6bb9f2115","type":"influxdb out","z":"12090906de712e74","influxdb":"685c2052c67a3d18","name":"","measurement":"Availability Percentage","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1710,"y":250,"wires":[]},{"id":"aa35de9a7d9c553a","type":"inject","z":"12090906de712e74","g":"ce38585454f53480","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"46","payloadType":"num","x":290,"y":825,"wires":[["f8d0940ce2542b67"]]},{"id":"525410e268a81786","type":"inject","z":"12090906de712e74","g":"ce38585454f53480","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"44","payloadType":"num","x":290,"y":865,"wires":[["f8d0940ce2542b67"]]},{"id":"baea737df2468792","type":"debug","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"elapsed.millis","targetType":"msg","statusVal":"elapsed.millis","statusType":"auto","x":1200,"y":860,"wires":[]},{"id":"227930be74d3ff51","type":"hourglass","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","persistId":"","humanizeLocale":"","x":970,"y":935,"wires":[["baea737df2468792","72cee87c33427240","4bb9622eecc2de26","eec15f682299432f"]]},{"id":"7126aa2ca6d1cc43","type":"change","z":"12090906de712e74","g":"9d7727608cd87c35","name":"{command:'reset'}","rules":[{"t":"set","p":"command","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":775,"y":955,"wires":[["227930be74d3ff51"]]},{"id":"01f2d45639e93265","type":"function","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","func":"if(msg.payload >= 45){\nmsg.command  = msg.payload \nmsg.command = \"start\"\n}\n\nif(msg.payload < 45){\n    msg.command = msg.payload\n    msg.command = \"stop\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":795,"y":885,"wires":[["227930be74d3ff51"]]},{"id":"10b2c9c0259bb08c","type":"inject","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":275,"y":990,"wires":[["e9fa70934a7e095f"]]},{"id":"e9fa70934a7e095f","type":"change","z":"12090906de712e74","g":"9d7727608cd87c35","name":"{command:'status'}","rules":[{"t":"set","p":"command","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":775,"y":990,"wires":[["227930be74d3ff51"]]},{"id":"fbadcfd3137bcb4c","type":"timerswitch","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","ontopic":"ON","offtopic":"OFF","onpayload":"1","offpayload":"0","disabled":false,"schedules":[{"on_h":"15","on_m":"46","on_s":"00","off_h":"15","off_m":"47","off_s":"00","valid":true},{"on_h":"15","on_m":"48","on_s":"00","off_h":"15","off_m":"49","off_s":"00","valid":true}],"x":270,"y":940,"wires":[["ff4b50cc59f72adf","04cc04ba4a61e45e"]]},{"id":"f8d0940ce2542b67","type":"gate","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"storeName":"memory","x":580,"y":905,"wires":[["01f2d45639e93265"]]},{"id":"e6a2eed19a02140a","type":"change","z":"12090906de712e74","g":"9d7727608cd87c35","name":"{command:'stop'}","rules":[{"t":"set","p":"command","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":775,"y":920,"wires":[["227930be74d3ff51"]]},{"id":"ff4b50cc59f72adf","type":"function","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","func":"if(msg.payload == 0){\n    msg.payload = \"close\"\n    msg.topic = \"control\"\n}\n\nif(msg.payload == 1){\n    msg.payload = \"open\"\n    msg.topic = \"control\"\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":435,"y":940,"wires":[["22ac1636e94d2e83","f8d0940ce2542b67","8eadf03349c1ae0d"]]},{"id":"72cee87c33427240","type":"debug","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"elapsed.time","targetType":"msg","statusVal":"elapsed","statusType":"auto","x":1200,"y":895,"wires":[]},{"id":"22ac1636e94d2e83","type":"switch","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"close","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":940,"wires":[["e6a2eed19a02140a","7126aa2ca6d1cc43"]]},{"id":"4bb9622eecc2de26","type":"function","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","func":"var a = msg.elapsed.time.seconds\nvar b = msg.elapsed.time.minutes\nvar c = msg.elapsed.time.hours\na = a/3600;\nb = b/60;\nmsg.payload = (a + b + c)/8;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1175,"y":935,"wires":[["76042a3a7f08eafe","faa91600fc716d87"]]},{"id":"eec15f682299432f","type":"function","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","func":"var a = msg.elapsed.time.seconds\nvar b = msg.elapsed.time.minutes\nvar c = msg.elapsed.time.hours\na = a/3600;\nb = b/60;\nmsg.payload = ((a+b+c)/8)*100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1175,"y":970,"wires":[["a527090971726d2e"]]},{"id":"8944da33d7736b4c","type":"influxdb out","z":"12090906de712e74","g":"9d7727608cd87c35","influxdb":"84a649241a08504b","name":"","measurement":"Availability Percentage","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ecf35f5a71532119","bucket":"c7f8d0a2dac7b469","x":815,"y":1140,"wires":[]},{"id":"432f68fe68be3579","type":"ui_text_input","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"","label":"Good Products","tooltip":"","group":"54c7fdf6c43fcb4c","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"item1","topicType":"str","x":340,"y":1295,"wires":[["3c20a298af105537"]]},{"id":"44d44df399287f1e","type":"ui_text_input","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"","label":"Total Products","tooltip":"","group":"54c7fdf6c43fcb4c","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"item2","topicType":"str","x":340,"y":1335,"wires":[["3c20a298af105537"]]},{"id":"3c20a298af105537","type":"join","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":1315,"wires":[["7c14f097ae468b5e","21e4c0538f45f3f6","ec30827c454a7b40"]]},{"id":"7c14f097ae468b5e","type":"function","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"msg.payload.item1 / msg.payload.item2","func":"msg.payload = Number(((msg.payload.item1 / msg.payload.item2)*100).toFixed(2))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1315,"wires":[["5bfd5bfcf9b3ee54"]]},{"id":"53a3a8b7adec207e","type":"ui_gauge","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"","group":"54c7fdf6c43fcb4c","order":4,"width":0,"height":0,"gtype":"gage","title":"Quality","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"30","seg2":"70","x":895,"y":1400,"wires":[]},{"id":"28b90d82aa1ea794","type":"ui_button","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"","group":"54c7fdf6c43fcb4c","order":8,"width":0,"height":0,"passthru":false,"label":"Confirm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Percentage","payloadType":"global","topic":"topic","topicType":"msg","x":715,"y":1400,"wires":[["53a3a8b7adec207e"]]},{"id":"5bfd5bfcf9b3ee54","type":"function","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"Global Variable","func":"global.set(\"Percentage\", msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1315,"wires":[["2e0a6cd12361c2f8"]]},{"id":"4027243b93b4a1e8","type":"ui_button","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"","group":"54c7fdf6c43fcb4c","order":6,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":310,"y":1395,"wires":[["6df84dc1ccc9f382"]]},{"id":"6df84dc1ccc9f382","type":"function","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"Reset Function","func":"if(msg.payload == true){\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1395,"wires":[["9e5114d64c6d4d76"]]},{"id":"9e5114d64c6d4d76","type":"link out","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"link out 4","mode":"link","links":["40ea2bdd8020e101","dc01ed0ec46c986f","57236dc96c23fd51"],"x":595,"y":1395,"wires":[]},{"id":"40ea2bdd8020e101","type":"link in","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"link in 4","links":["9e5114d64c6d4d76"],"x":830,"y":1355,"wires":[["53a3a8b7adec207e"]]},{"id":"21e4c0538f45f3f6","type":"debug","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"debug to check join node","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1355,"wires":[]},{"id":"57236dc96c23fd51","type":"link in","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"link in 5","links":["9e5114d64c6d4d76"],"x":200,"y":1295,"wires":[["432f68fe68be3579"]]},{"id":"dc01ed0ec46c986f","type":"link in","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"link in 6","links":["9e5114d64c6d4d76"],"x":200,"y":1335,"wires":[["44d44df399287f1e"]]},{"id":"a59b234beafce39b","type":"gate","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"storeName":"memory","x":820,"y":1025,"wires":[["a527090971726d2e","76042a3a7f08eafe"]]},{"id":"a527090971726d2e","type":"hold","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","x":1335,"y":970,"wires":[["d5d3ba623d764a74"]]},{"id":"9bb91716213d9605","type":"inject","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","props":[{"p":"trigger","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":605,"y":1025,"wires":[["a59b234beafce39b"]]},{"id":"76042a3a7f08eafe","type":"hold","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","x":1335,"y":935,"wires":[["d81c42013bef319c"]]},{"id":"d81c42013bef319c","type":"function","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","func":"\nglobal.set(\"Availability\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1485,"y":935,"wires":[[]]},{"id":"ec30827c454a7b40","type":"function","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"","func":"msg.payload = Number(((msg.payload.item1 / msg.payload.item2)))\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":625,"y":1270,"wires":[["8802b8e997452875"]]},{"id":"8802b8e997452875","type":"function","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"Global Variable","func":"global.set(\"QualityDeci\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":815,"y":1270,"wires":[[]]},{"id":"81caada61074d77c","type":"function","z":"12090906de712e74","g":"764b80b744c1f5f7","name":"","func":"var x = global.get('QualityDeci');\nvar y = global.get('Availability');\nvar z = global.get('Performance');\nif(msg.topic == \"OFF\"){\n    msg.payload = 0;\n}\nelse\nmsg.payload = (x * y * z)*100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":600,"wires":[["5bd92225ea2652be","759c638b60a5f156"]]},{"id":"5bd92225ea2652be","type":"debug","z":"12090906de712e74","g":"764b80b744c1f5f7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":600,"wires":[]},{"id":"a9d4eeb04a38bafe","type":"inject","z":"12090906de712e74","g":"764b80b744c1f5f7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"QualityDeci","payloadType":"global","x":315,"y":600,"wires":[["81caada61074d77c"]]},{"id":"faa91600fc716d87","type":"influxdb out","z":"12090906de712e74","g":"9d7727608cd87c35","influxdb":"84a649241a08504b","name":"","measurement":"Availability","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ecf35f5a71532119","bucket":"c7f8d0a2dac7b469","x":1575,"y":900,"wires":[]},{"id":"f2ef671de08fe94f","type":"influxdb out","z":"12090906de712e74","g":"764b80b744c1f5f7","influxdb":"84a649241a08504b","name":"","measurement":"OEE Percentage","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ecf35f5a71532119","bucket":"c7f8d0a2dac7b469","x":890,"y":560,"wires":[]},{"id":"fa9ddff2757294e7","type":"influxdb out","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","influxdb":"84a649241a08504b","name":"","measurement":"Quality Percentage","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ecf35f5a71532119","bucket":"c7f8d0a2dac7b469","x":1415,"y":1315,"wires":[]},{"id":"102af18d2259e7d2","type":"gate","z":"12090906de712e74","g":"764b80b744c1f5f7","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"storeName":"memory","x":495,"y":560,"wires":[["759c638b60a5f156"]]},{"id":"759c638b60a5f156","type":"hold","z":"12090906de712e74","g":"764b80b744c1f5f7","name":"","x":645,"y":560,"wires":[["f2ef671de08fe94f","d1332f232040d7e2"]]},{"id":"d1332f232040d7e2","type":"debug","z":"12090906de712e74","g":"764b80b744c1f5f7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":785,"y":515,"wires":[]},{"id":"17777a74de3b905d","type":"inject","z":"12090906de712e74","g":"764b80b744c1f5f7","name":"","props":[{"p":"trigger","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":355,"y":560,"wires":[["102af18d2259e7d2"]]},{"id":"d5d3ba623d764a74","type":"function","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","func":"global.set('AvailabilityPercentage', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1485,"y":970,"wires":[[]]},{"id":"04cc04ba4a61e45e","type":"link out","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","mode":"link","links":["99a1e2d324a7aeb8"],"x":390,"y":975,"wires":[]},{"id":"8eadf03349c1ae0d","type":"link out","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","mode":"link","links":["9cfaf4a8fd974318","b5335d58bace364a"],"x":545,"y":980,"wires":[]},{"id":"b5335d58bace364a","type":"link in","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","links":["8eadf03349c1ae0d"],"x":630,"y":1055,"wires":[["a59b234beafce39b"]]},{"id":"9cfaf4a8fd974318","type":"link in","z":"12090906de712e74","g":"764b80b744c1f5f7","name":"","links":["8eadf03349c1ae0d"],"x":390,"y":520,"wires":[[]]},{"id":"99a1e2d324a7aeb8","type":"link in","z":"12090906de712e74","g":"764b80b744c1f5f7","name":"","links":["04cc04ba4a61e45e"],"x":385,"y":670,"wires":[["81caada61074d77c"]]},{"id":"971b2fc55fc7630b","type":"inject","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"","props":[{"p":"trigger","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1020,"y":1270,"wires":[["2e0a6cd12361c2f8"]]},{"id":"2e0a6cd12361c2f8","type":"hold","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"","x":1160,"y":1315,"wires":[["fa9ddff2757294e7","ad912bf90861a23f"]]},{"id":"ad912bf90861a23f","type":"debug","z":"12090906de712e74","g":"d4cd0c9b1eacaaab","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1305,"y":1355,"wires":[]},{"id":"600e99092cac8cf7","type":"inject","z":"12090906de712e74","g":"9d7727608cd87c35","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"AvailabilityPercentage","payloadType":"global","x":350,"y":1140,"wires":[["8944da33d7736b4c"]]},{"id":"be70a57a2d63f5a5","type":"function","z":"12090906de712e74","g":"683d8ae3f77ccc9a","name":"","func":"var pf = Number(msg.payload/8)*100;\nmsg.payload = pf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":525,"y":1560,"wires":[["a2df73d123887e3c"]]},{"id":"57f51607a5493c58","type":"inject","z":"12090906de712e74","g":"764b80b744c1f5f7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Performance","payloadType":"global","x":315,"y":635,"wires":[["81caada61074d77c","0c31f6f68b7c8c4e"]]},{"id":"0c31f6f68b7c8c4e","type":"debug","z":"12090906de712e74","g":"764b80b744c1f5f7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":680,"wires":[]},{"id":"4f99474da1602839","type":"ui_text_input","z":"12090906de712e74","g":"683d8ae3f77ccc9a","name":"","label":"Total Products","tooltip":"","group":"89759160eda69321","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"item2","topicType":"str","x":345,"y":1560,"wires":[["be70a57a2d63f5a5","b2126e48eb879264"]]},{"id":"23cdfc40efe7befe","type":"ui_button","z":"12090906de712e74","g":"683d8ae3f77ccc9a","name":"","group":"89759160eda69321","order":8,"width":0,"height":0,"passthru":false,"label":"Confirm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"PerformancePercentage","payloadType":"global","topic":"topic","topicType":"msg","x":630,"y":1615,"wires":[["94000b40e8ac6f14"]]},{"id":"6a82ba396112462e","type":"ui_button","z":"12090906de712e74","g":"683d8ae3f77ccc9a","name":"","group":"89759160eda69321","order":6,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":240,"y":1645,"wires":[["b5d63691e14d21d4","4f99474da1602839","94000b40e8ac6f14"]]},{"id":"b5d63691e14d21d4","type":"function","z":"12090906de712e74","g":"683d8ae3f77ccc9a","name":"Reset Function","func":"if(msg.payload == true){\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":395,"y":1645,"wires":[[]]},{"id":"b2126e48eb879264","type":"function","z":"12090906de712e74","g":"683d8ae3f77ccc9a","name":"","func":"msg.payload = Number(msg.payload/8);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":525,"y":1515,"wires":[["514aea007ccff09e"]]},{"id":"514aea007ccff09e","type":"function","z":"12090906de712e74","g":"683d8ae3f77ccc9a","name":"Global Variable","func":"global.set(\"Performance\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":715,"y":1515,"wires":[[]]},{"id":"c105b883ea50345b","type":"influxdb out","z":"12090906de712e74","g":"683d8ae3f77ccc9a","influxdb":"84a649241a08504b","name":"","measurement":"Performance Percentage","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ecf35f5a71532119","bucket":"c7f8d0a2dac7b469","x":870,"y":1720,"wires":[]},{"id":"ea33f449cabd4f91","type":"hold","z":"12090906de712e74","g":"683d8ae3f77ccc9a","name":"","x":1065,"y":1560,"wires":[["c3a6687aac88a8f8"]]},{"id":"c3a6687aac88a8f8","type":"debug","z":"12090906de712e74","g":"683d8ae3f77ccc9a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1200,"y":1665,"wires":[]},{"id":"b29b17edd248dcb9","type":"inject","z":"12090906de712e74","g":"683d8ae3f77ccc9a","name":"","props":[{"p":"trigger","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":920,"y":1515,"wires":[["ea33f449cabd4f91"]]},{"id":"94000b40e8ac6f14","type":"ui_gauge","z":"12090906de712e74","g":"683d8ae3f77ccc9a","name":"","group":"89759160eda69321","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":795,"y":1645,"wires":[]},{"id":"e008d7ef5f6cb21d","type":"inject","z":"12090906de712e74","g":"683d8ae3f77ccc9a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PerformancePercentage","payloadType":"global","x":465,"y":1720,"wires":[["c105b883ea50345b"]]},{"id":"a2df73d123887e3c","type":"function","z":"12090906de712e74","g":"683d8ae3f77ccc9a","name":"Global Variable","func":"global.set(\"PerformancePercentage\", msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1560,"wires":[["ea33f449cabd4f91"]]},{"id":"a1b5f6b3d37a5a60","type":"mqtt-broker","name":"","broker":"192.168.1.10","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"91221128c842e317","type":"mqtt-broker","name":"","broker":"192.168.2.16","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"eea0be80b588d55a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"685c2052c67a3d18","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":false},{"id":"84a649241a08504b","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"54c7fdf6c43fcb4c","type":"ui_group","name":"Group 1","tab":"f1dc1ca1.c1457","order":1,"disp":true,"width":6},{"id":"89759160eda69321","type":"ui_group","name":"Performance","tab":"f1dc1ca1.c1457","order":9,"disp":true,"width":"6","collapse":false},{"id":"f1dc1ca1.c1457","type":"ui_tab","name":"Total Products Performance","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
