OEE Quality Input Example.json
[{"id":"b6a08b2733888b5d","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"3bf21ac88c22d17e","type":"ui_text_input","z":"b6a08b2733888b5d","name":"","label":"Good Parts","tooltip":"","group":"decbb7b10b0b1979","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":610,"y":100,"wires":[["4c551feb00116c37"]]},{"id":"829c8b6b6b9bd981","type":"ui_text_input","z":"b6a08b2733888b5d","name":"","label":"Total completed parts","tooltip":"","group":"decbb7b10b0b1979","order":0,"width":"0","height":"0","passthru":true,"mode":"number","delay":"0","topic":"topic","topicType":"msg","x":640,"y":60,"wires":[["6e625819f386e051"]]},{"id":"80d7aced46a1aece","type":"calculator","z":"b6a08b2733888b5d","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"div","constant":"","round":false,"decimals":0,"x":930,"y":160,"wires":[["2384f7e91b38cfb2"]]},{"id":"755a243b4e81c2c1","type":"join","z":"b6a08b2733888b5d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":160,"wires":[["80d7aced46a1aece"]]},{"id":"2384f7e91b38cfb2","type":"debug","z":"b6a08b2733888b5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":160,"wires":[]},{"id":"43461a31b2e6f768","type":"ui_button","z":"b6a08b2733888b5d","name":"","group":"decbb7b10b0b1979","order":0,"width":"3","height":"2","passthru":false,"label":"Confirm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":280,"y":200,"wires":[["6431f839af9f19bc"]]},{"id":"6e625819f386e051","type":"change","z":"b6a08b2733888b5d","name":"","rules":[{"t":"set","p":"parts","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":60,"wires":[[]]},{"id":"a18edd5ebf41524c","type":"debug","z":"b6a08b2733888b5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":300,"wires":[]},{"id":"6431f839af9f19bc","type":"switch","z":"b6a08b2733888b5d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":200,"wires":[["a1ebd5648fdd74eb","b97da27b109f09a4"]]},{"id":"a1ebd5648fdd74eb","type":"change","z":"b6a08b2733888b5d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"goodparts","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":200,"wires":[["55bcef12174ff66a","755a243b4e81c2c1"]]},{"id":"55bcef12174ff66a","type":"debug","z":"b6a08b2733888b5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":200,"wires":[]},{"id":"b97da27b109f09a4","type":"change","z":"b6a08b2733888b5d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"parts","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":240,"wires":[["84298f76671bab8f","755a243b4e81c2c1"]]},{"id":"84298f76671bab8f","type":"debug","z":"b6a08b2733888b5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":240,"wires":[]},{"id":"4c551feb00116c37","type":"change","z":"b6a08b2733888b5d","name":"","rules":[{"t":"set","p":"goodparts","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":100,"wires":[[]]},{"id":"7751785581cf483a","type":"ui_button","z":"b6a08b2733888b5d","name":"","group":"decbb7b10b0b1979","order":0,"width":"3","height":"2","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":270,"y":80,"wires":[["6576b4d18642cd0c"]]},{"id":"6576b4d18642cd0c","type":"function","z":"b6a08b2733888b5d","name":"","func":"if(msg.payload  == true){\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":80,"wires":[["3bf21ac88c22d17e","829c8b6b6b9bd981"]]},{"id":"decbb7b10b0b1979","type":"ui_group","name":"Quality Input","tab":"9d2e126cb56f1212","order":2,"disp":true,"width":"6","collapse":false},{"id":"9d2e126cb56f1212","type":"ui_tab","name":"OEE","icon":"dashboard","disabled":false,"hidden":false}]
