OEE Quality Input V2(Ryan).json
[{"id":"5cbe247aa169b357","type":"tab","label":"Flow 5","disabled":false,"info":"","env":[]},{"id":"9b533bd7f4a4cb4e","type":"ui_text_input","z":"5cbe247aa169b357","name":"","label":"Good Products","tooltip":"","group":"c925f0a1.c2066","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"item1","topicType":"str","x":380,"y":180,"wires":[["ce7a1a2d239879b2"]]},{"id":"fb639882abc6e650","type":"ui_text_input","z":"5cbe247aa169b357","name":"","label":"Total Products","tooltip":"","group":"c925f0a1.c2066","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"item2","topicType":"str","x":380,"y":220,"wires":[["ce7a1a2d239879b2"]]},{"id":"ce7a1a2d239879b2","type":"join","z":"5cbe247aa169b357","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":200,"wires":[["9152ed23fc93ce49","fc559996f9b114e8"]]},{"id":"9152ed23fc93ce49","type":"function","z":"5cbe247aa169b357","name":"msg.payload.item1 / msg.payload.item2","func":"msg.payload = (((msg.payload.item1 / msg.payload.item2)*100).toFixed(2))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":200,"wires":[["7c9156a73655c344"]]},{"id":"9f704e82f31b9f8d","type":"ui_gauge","z":"5cbe247aa169b357","name":"","group":"c925f0a1.c2066","order":4,"width":0,"height":0,"gtype":"gage","title":"Quality","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"30","seg2":"70","x":1000,"y":320,"wires":[]},{"id":"e747739ed5688c82","type":"debug","z":"5cbe247aa169b357","name":"debug to check Global Variable","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":240,"wires":[]},{"id":"2e6f5aea029a779b","type":"ui_button","z":"5cbe247aa169b357","name":"","group":"c925f0a1.c2066","order":8,"width":0,"height":0,"passthru":false,"label":"Confirm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Percentage","payloadType":"global","topic":"topic","topicType":"msg","x":800,"y":320,"wires":[["9f704e82f31b9f8d","d7cb72a67f7ee1b4"]]},{"id":"7c9156a73655c344","type":"function","z":"5cbe247aa169b357","name":"Global Variable","func":"global.set(\"Percentage\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":200,"wires":[["e747739ed5688c82"]]},{"id":"d7cb72a67f7ee1b4","type":"debug","z":"5cbe247aa169b357","name":"debug to check if Global Variable went through","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":280,"wires":[]},{"id":"4445deab83041487","type":"ui_button","z":"5cbe247aa169b357","name":"","group":"c925f0a1.c2066","order":6,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":350,"y":280,"wires":[["e64aa9f10f5d82b4"]]},{"id":"e64aa9f10f5d82b4","type":"function","z":"5cbe247aa169b357","name":"Reset Function","func":"if(msg.payload == true){\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":280,"wires":[["1ab3fd034052a304"]]},{"id":"1ab3fd034052a304","type":"link out","z":"5cbe247aa169b357","name":"link out 4","mode":"link","links":["772357682a4f8928","3cf18b5b49aec775","f5890a840e8192a4"],"x":635,"y":280,"wires":[]},{"id":"772357682a4f8928","type":"link in","z":"5cbe247aa169b357","name":"link in 4","links":["1ab3fd034052a304"],"x":845,"y":280,"wires":[["9f704e82f31b9f8d"]]},{"id":"fc559996f9b114e8","type":"debug","z":"5cbe247aa169b357","name":"debug to check join node","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":240,"wires":[]},{"id":"f5890a840e8192a4","type":"link in","z":"5cbe247aa169b357","name":"link in 5","links":["1ab3fd034052a304"],"x":265,"y":180,"wires":[["9b533bd7f4a4cb4e"]]},{"id":"3cf18b5b49aec775","type":"link in","z":"5cbe247aa169b357","name":"link in 6","links":["1ab3fd034052a304"],"x":265,"y":220,"wires":[["fb639882abc6e650"]]},{"id":"c925f0a1.c2066","type":"ui_group","name":"Group 1","tab":"f1dc1ca1.c1457","order":1,"disp":true,"width":6},{"id":"f1dc1ca1.c1457","type":"ui_tab","name":"Text-Button","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
