OEE Quality Input V2.json
[{"id":"164ce4de140899c6","type":"tab","label":"Flow 4","disabled":false,"info":"","env":[]},{"id":"7bf8f7ec4dcf61c6","type":"ui_text_input","z":"164ce4de140899c6","name":"","label":"Good Products","tooltip":"","group":"c925f0a1.c2066","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"item1","topicType":"str","x":220,"y":240,"wires":[["0a30034d8a5a4ed5"]]},{"id":"5bfcfc030da11bd5","type":"ui_text_input","z":"164ce4de140899c6","name":"","label":"Total Products","tooltip":"","group":"c925f0a1.c2066","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"item2","topicType":"str","x":220,"y":280,"wires":[["0a30034d8a5a4ed5"]]},{"id":"0a30034d8a5a4ed5","type":"join","z":"164ce4de140899c6","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":370,"y":260,"wires":[["117ee124d1acc59c"]]},{"id":"117ee124d1acc59c","type":"function","z":"164ce4de140899c6","name":"msg.payload.item1 / msg.payload.item2","func":"msg.payload = (((msg.payload.item1 / msg.payload.item2)*100).toFixed(2))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":260,"wires":[["ee8ec68fe2606a32"]]},{"id":"66634052bd0b31ca","type":"ui_gauge","z":"164ce4de140899c6","name":"","group":"c925f0a1.c2066","order":4,"width":0,"height":0,"gtype":"gage","title":"Quality","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"30","seg2":"70","x":1160,"y":260,"wires":[]},{"id":"90efd215152a9327","type":"ui_button","z":"164ce4de140899c6","name":"","group":"c925f0a1.c2066","order":8,"width":0,"height":0,"passthru":false,"label":"Confirm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Percentage","payloadType":"global","topic":"topic","topicType":"msg","x":1000,"y":260,"wires":[["66634052bd0b31ca"]]},{"id":"ee8ec68fe2606a32","type":"function","z":"164ce4de140899c6","name":"function 5","func":"global.set(\"Percentage\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":260,"wires":[[]]},{"id":"c925f0a1.c2066","type":"ui_group","name":"Group 1","tab":"f1dc1ca1.c1457","order":1,"disp":true,"width":6},{"id":"f1dc1ca1.c1457","type":"ui_tab","name":"Text-Button","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
