OEE SP V2
[{"id":"7055e591de95b0bb","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"18b5814cf629ef28","type":"group","z":"7055e591de95b0bb","name":"Connect to Sensors","style":{"stroke":"#000000","fill":"#92d04f","label":true,"color":"#000000"},"nodes":["acea8dd839284737","609051c4328bc65e","8e65beac4038fe58","9d92eb11f3288dd6","d020553006579b82","88ede98eaa062faf","84a083bd040dad6d","86faca32cfe9352e","3319d1d93b86a744","58c4392989145ec6","4a401fe8f73832a0","c3d0ac9668278886","b1fe488d95a46ad3","6f2cc3f0d0d82914","c83931735c8b481e","2e903c537ac8ba89","662b78c4a0e215e7","2ddc29f5b0716eb1","2cf1dc7faae8da1d","160c259c119d64fc","a2a736dedbb80d98","f90ff91adbdcfa11","aee354cb2d6ef193","b091a0f212f736e1"],"x":91,"y":59,"w":565,"h":362},{"id":"5b740bfd70e0868f","type":"group","z":"7055e591de95b0bb","name":"Upload to InfluxDB","style":{"stroke":"#000000","fill":"#b797cf","label":true,"color":"#000000"},"nodes":["80ee0daf09d858b2","f195e8cc8bcafe90","96a709fb164a4634","18588398129ebc14","664ee4819d5dfa41","cb1e55e545be7350","917ec1b838a84459","8b03340b22dae1b4","fe7b6765bfbf4da7","0438683b7c4988c4","8aa5e4fb1d1e95f6","6b1dff436a482fcd","a1fde6531adfe2ef","6805145a6830361b","e14db9201da6a2ab","96654494f8dd5a63","e0290d703777578e","b87c9f734a770e58"],"x":714,"y":59,"w":752,"h":362},{"id":"71539759cfe71594","type":"group","z":"7055e591de95b0bb","name":"OEE","style":{"stroke":"#001f60","fill":"#7fb7df","label":true,"color":"#000000"},"nodes":["e611a06f3c188174","5d2e36786d08e9da","64d8e6159aa46d7f","688b70eeb7e425aa","5c776e31fb8f82aa","22908ee0f7a314ae","bff21db512fa099f","d8d81642c859c20e","4f4e3f369d16c3d1","14bfc8ddae04b185"],"x":179,"y":474,"w":907,"h":237},{"id":"99524a201de40da8","type":"group","z":"7055e591de95b0bb","name":"Availability","style":{"stroke":"#001f60","fill":"#addb7b","label":true,"color":"#001f60"},"nodes":["8af30a6ada8ead86","03f6ad60809e8e1f","9b19ef7e72e43441","6e48b00b4e7f2141","0d8a3f0d95551134","209083d8a93c6381","d18ef3b36b4d85c6","5dd8dd3a1140f3c9","25b57f44740b409f","a77d6bbda2276143","3ac74c1c48f49333","124d0e28ab69d04a","135540da373a9fdd","e1eea66baa661c25","b5aba713dcb439ba","777e4f7110c2c0ed","dec51ee0b93ae1ac","2ee390c61e314d0f","472598fab1e3db90","523a6d80d046f99b","94442aef43e4371a","c884a5760595992a","97d15f7a7de93f51","640269921138db4b","d3803ef6e9922466","5d43274d0a8deb92","5cb1ce234a983df6"],"x":159,"y":753,"w":1592,"h":423},{"id":"fa743a10c8b37f44","type":"group","z":"7055e591de95b0bb","name":"Quality ","style":{"stroke":"#000000","fill":"#b797cf","label":true,"color":"#001f60"},"nodes":["1f89e28443ae113f","9f24f341ebc2cc64","c732f6edefbba786","87a019f2105e3c18","768aa4d0e9da37f4","b6c5290542b70884","74a49a1a273a56d1","2a3eddf333ef432d","26425fe9990d73a7","0656a6bdcdc41abb","c94890c3d1b9461b","dd283f974d436e2d","2572cfe72eb177cd","e95e6b670f40d73d","1081885edcfe2782","37cdffddc304757e","8bd99ed375ddfdc0","4dbc3ffcb1ff3716","76fa61bbcdbe1104","6230df32faad5073"],"x":159,"y":1229,"w":1462,"h":212},{"id":"12a7feae74f717b9","type":"group","z":"7055e591de95b0bb","name":"Quality ","style":{"stroke":"#000000","fill":"#ffdf7f","label":true,"color":"#001f60"},"nodes":["684145809b117655","c8cad240ebda799d","b06c7a6c89dfbf56","a87a60584add7493","2e6493c94a292a50","0adadd3f30dc245f","94e605fa858aa4aa","becf004f333a8c08","b8d5587713a4237d","992ea514e0b0bf49","77f9476921e16d30","28f31af13d67c858","0cbbc301522693a9","b7b89f58ce115e8a"],"x":159,"y":1529,"w":1157,"h":287},{"id":"5d43274d0a8deb92","type":"group","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"simulated data","style":{"label":true},"nodes":["c34eb6ec4b3f3696","96a0213076e0294e"],"x":194,"y":779,"w":172,"h":122},{"id":"8eebe97ac8957962","type":"link in","z":"7055e591de95b0bb","name":"","links":["3319d1d93b86a744"],"x":125,"y":520,"wires":[[]]},{"id":"727cd79791da22d2","type":"link in","z":"7055e591de95b0bb","name":"","links":["58c4392989145ec6"],"x":125,"y":560,"wires":[[]]},{"id":"47e86724df6972c8","type":"link in","z":"7055e591de95b0bb","name":"","links":["4a401fe8f73832a0"],"x":125,"y":600,"wires":[[]]},{"id":"569e93d961c8476d","type":"link in","z":"7055e591de95b0bb","name":"","links":["c3d0ac9668278886"],"x":125,"y":640,"wires":[[]]},{"id":"91400b7715dcd329","type":"link in","z":"7055e591de95b0bb","name":"","links":["b1fe488d95a46ad3"],"x":125,"y":680,"wires":[[]]},{"id":"0efae9b308e3be10","type":"link in","z":"7055e591de95b0bb","name":"","links":["6f2cc3f0d0d82914"],"x":125,"y":720,"wires":[[]]},{"id":"65c0c04d53708e9f","type":"link in","z":"7055e591de95b0bb","name":"","links":["c83931735c8b481e"],"x":125,"y":760,"wires":[[]]},{"id":"4eca08a0b43c104c","type":"link in","z":"7055e591de95b0bb","name":"","links":["2e903c537ac8ba89"],"x":125,"y":800,"wires":[[]]},{"id":"acea8dd839284737","type":"mqtt in","z":"7055e591de95b0bb","d":true,"g":"18b5814cf629ef28","name":"","topic":"Kube-IoT/CC:DE:67:17:22:82","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":260,"wires":[["a2a736dedbb80d98"]]},{"id":"609051c4328bc65e","type":"mqtt in","z":"7055e591de95b0bb","d":true,"g":"18b5814cf629ef28","name":"","topic":"Kube-IoT/FD:61:44:10:62:94","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":340,"wires":[["aee354cb2d6ef193"]]},{"id":"8e65beac4038fe58","type":"mqtt in","z":"7055e591de95b0bb","d":true,"g":"18b5814cf629ef28","name":"","topic":"Kube-IoT/DE:11:8F:F3:93:E3","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":300,"wires":[["f90ff91adbdcfa11"]]},{"id":"9d92eb11f3288dd6","type":"mqtt in","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"","topic":"Kube-IoT/FE:EE:63:92:CF:15","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":140,"wires":[["2ddc29f5b0716eb1"]]},{"id":"d020553006579b82","type":"mqtt in","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"","topic":"Kube-IoT/F4:CA:B7:DC:58:E9","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":220,"wires":[["160c259c119d64fc"]]},{"id":"88ede98eaa062faf","type":"mqtt in","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"","topic":"Kube-IoT/C4:43:A9:EA:BB:16","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":180,"wires":[["2cf1dc7faae8da1d"]]},{"id":"84a083bd040dad6d","type":"mqtt in","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"","topic":"Kube-IoT/F7:49:20:D0:F3:54","qos":"2","datatype":"json","broker":"91221128c842e317","nl":false,"rap":false,"inputs":0,"x":237,"y":100,"wires":[["662b78c4a0e215e7"]]},{"id":"86faca32cfe9352e","type":"mqtt in","z":"7055e591de95b0bb","d":true,"g":"18b5814cf629ef28","name":"","topic":"Kube-IoT/","qos":"2","datatype":"json","broker":"","nl":false,"rap":false,"inputs":0,"x":180,"y":380,"wires":[["b091a0f212f736e1"]]},{"id":"3319d1d93b86a744","type":"link out","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Sensor 1","mode":"link","links":["0438683b7c4988c4","8eebe97ac8957962"],"x":615,"y":100,"wires":[]},{"id":"58c4392989145ec6","type":"link out","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Sensor 2","mode":"link","links":["8aa5e4fb1d1e95f6","727cd79791da22d2"],"x":615,"y":140,"wires":[]},{"id":"4a401fe8f73832a0","type":"link out","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Sensor 3","mode":"link","links":["6b1dff436a482fcd","47e86724df6972c8"],"x":615,"y":180,"wires":[]},{"id":"c3d0ac9668278886","type":"link out","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Sensor 4","mode":"link","links":["a1fde6531adfe2ef","569e93d961c8476d"],"x":615,"y":220,"wires":[]},{"id":"b1fe488d95a46ad3","type":"link out","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Sensor 5","mode":"link","links":["91400b7715dcd329","6805145a6830361b"],"x":615,"y":260,"wires":[]},{"id":"6f2cc3f0d0d82914","type":"link out","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Sensor 6","mode":"link","links":["0efae9b308e3be10","e14db9201da6a2ab"],"x":615,"y":300,"wires":[]},{"id":"c83931735c8b481e","type":"link out","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Sensor 7","mode":"link","links":["65c0c04d53708e9f","96654494f8dd5a63"],"x":615,"y":340,"wires":[]},{"id":"2e903c537ac8ba89","type":"link out","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Sensor 8","mode":"link","links":["e0290d703777578e","4eca08a0b43c104c"],"x":615,"y":380,"wires":[]},{"id":"662b78c4a0e215e7","type":"change","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Spindle Tool","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":100,"wires":[["3319d1d93b86a744"]]},{"id":"2ddc29f5b0716eb1","type":"change","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Y Axis Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":140,"wires":[["58c4392989145ec6"]]},{"id":"2cf1dc7faae8da1d","type":"change","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Spindle Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":180,"wires":[["4a401fe8f73832a0"]]},{"id":"160c259c119d64fc","type":"change","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Z Axis Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":220,"wires":[["c3d0ac9668278886"]]},{"id":"a2a736dedbb80d98","type":"change","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["b1fe488d95a46ad3"]]},{"id":"f90ff91adbdcfa11","type":"change","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["6f2cc3f0d0d82914"]]},{"id":"aee354cb2d6ef193","type":"change","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":340,"wires":[["c83931735c8b481e"]]},{"id":"b091a0f212f736e1","type":"change","z":"7055e591de95b0bb","g":"18b5814cf629ef28","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["2e903c537ac8ba89"]]},{"id":"80ee0daf09d858b2","type":"function","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":100,"wires":[["fe7b6765bfbf4da7"]]},{"id":"f195e8cc8bcafe90","type":"function","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":300,"wires":[["fe7b6765bfbf4da7"]]},{"id":"96a709fb164a4634","type":"function","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":220,"wires":[["fe7b6765bfbf4da7"]]},{"id":"18588398129ebc14","type":"function","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":140,"wires":[["fe7b6765bfbf4da7"]]},{"id":"664ee4819d5dfa41","type":"function","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[["fe7b6765bfbf4da7"]]},{"id":"cb1e55e545be7350","type":"function","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":180,"wires":[["fe7b6765bfbf4da7"]]},{"id":"917ec1b838a84459","type":"function","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":340,"wires":[["fe7b6765bfbf4da7"]]},{"id":"8b03340b22dae1b4","type":"function","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":380,"wires":[["fe7b6765bfbf4da7"]]},{"id":"fe7b6765bfbf4da7","type":"change","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"Formatter","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"measurement\": msg.topic,\t       \"fields\": msg.$.payload\t  }\t]         ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":240,"wires":[["b87c9f734a770e58"]],"info":"To change the "},{"id":"0438683b7c4988c4","type":"link in","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"","links":["3319d1d93b86a744"],"x":755,"y":100,"wires":[["80ee0daf09d858b2"]]},{"id":"8aa5e4fb1d1e95f6","type":"link in","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"","links":["58c4392989145ec6"],"x":755,"y":140,"wires":[["18588398129ebc14"]]},{"id":"6b1dff436a482fcd","type":"link in","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"","links":["4a401fe8f73832a0"],"x":755,"y":180,"wires":[["cb1e55e545be7350"]]},{"id":"a1fde6531adfe2ef","type":"link in","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"","links":["c3d0ac9668278886"],"x":755,"y":220,"wires":[["96a709fb164a4634"]]},{"id":"6805145a6830361b","type":"link in","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"","links":["b1fe488d95a46ad3"],"x":755,"y":260,"wires":[["664ee4819d5dfa41"]]},{"id":"e14db9201da6a2ab","type":"link in","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"","links":["6f2cc3f0d0d82914"],"x":755,"y":300,"wires":[["f195e8cc8bcafe90"]]},{"id":"96654494f8dd5a63","type":"link in","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"","links":["c83931735c8b481e"],"x":755,"y":340,"wires":[["917ec1b838a84459"]]},{"id":"e0290d703777578e","type":"link in","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","name":"","links":["2e903c537ac8ba89"],"x":755,"y":380,"wires":[["8b03340b22dae1b4"]]},{"id":"b87c9f734a770e58","type":"influxdb batch","z":"7055e591de95b0bb","g":"5b740bfd70e0868f","influxdb":"eea0be80b588d55a","precision":"","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1320,"y":240,"wires":[]},{"id":"c34eb6ec4b3f3696","type":"inject","z":"7055e591de95b0bb","g":"5d43274d0a8deb92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"46","payloadType":"num","x":290,"y":820,"wires":[["5dd8dd3a1140f3c9"]]},{"id":"96a0213076e0294e","type":"inject","z":"7055e591de95b0bb","g":"5d43274d0a8deb92","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"44","payloadType":"num","x":290,"y":860,"wires":[["5dd8dd3a1140f3c9"]]},{"id":"8af30a6ada8ead86","type":"debug","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"elapsed.millis","targetType":"msg","statusVal":"elapsed.millis","statusType":"auto","x":1200,"y":855,"wires":[]},{"id":"03f6ad60809e8e1f","type":"hourglass","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","persistId":"","humanizeLocale":"","x":970,"y":930,"wires":[["8af30a6ada8ead86","3ac74c1c48f49333","135540da373a9fdd","e1eea66baa661c25"]]},{"id":"9b19ef7e72e43441","type":"change","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"{command:'reset'}","rules":[{"t":"set","p":"command","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":775,"y":950,"wires":[["03f6ad60809e8e1f"]]},{"id":"6e48b00b4e7f2141","type":"function","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","func":"if(msg.payload >= 45){\nmsg.command  = msg.payload \nmsg.command = \"start\"\n}\n\nif(msg.payload < 45){\n    msg.command = msg.payload\n    msg.command = \"stop\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":795,"y":880,"wires":[["03f6ad60809e8e1f"]]},{"id":"0d8a3f0d95551134","type":"inject","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":275,"y":985,"wires":[["209083d8a93c6381"]]},{"id":"209083d8a93c6381","type":"change","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"{command:'status'}","rules":[{"t":"set","p":"command","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":775,"y":985,"wires":[["03f6ad60809e8e1f"]]},{"id":"d18ef3b36b4d85c6","type":"timerswitch","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","ontopic":"ON","offtopic":"OFF","onpayload":"1","offpayload":"0","disabled":false,"schedules":[{"on_h":"14","on_m":"00","on_s":"00","off_h":"15","off_m":"00","off_s":"00","valid":true}],"x":270,"y":935,"wires":[["a77d6bbda2276143","97d15f7a7de93f51"]]},{"id":"5dd8dd3a1140f3c9","type":"gate","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","controlTopic":"control","defaultState":"closed","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"storeName":"memory","x":580,"y":900,"wires":[["6e48b00b4e7f2141"]]},{"id":"25b57f44740b409f","type":"change","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"{command:'stop'}","rules":[{"t":"set","p":"command","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":775,"y":915,"wires":[["03f6ad60809e8e1f"]]},{"id":"a77d6bbda2276143","type":"function","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","func":"if(msg.payload == 0){\n    msg.payload = \"close\"\n    msg.topic = \"control\"\n}\n\nif(msg.payload == 1){\n    msg.payload = \"open\"\n    msg.topic = \"control\"\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":435,"y":935,"wires":[["124d0e28ab69d04a","5dd8dd3a1140f3c9","640269921138db4b"]]},{"id":"3ac74c1c48f49333","type":"debug","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"elapsed.time","targetType":"msg","statusVal":"elapsed","statusType":"auto","x":1200,"y":890,"wires":[]},{"id":"124d0e28ab69d04a","type":"switch","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"close","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":935,"wires":[["25b57f44740b409f","9b19ef7e72e43441"]]},{"id":"135540da373a9fdd","type":"function","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","func":"var a = msg.elapsed.time.seconds\nvar b = msg.elapsed.time.minutes\nvar c = msg.elapsed.time.hours\na = a/3600;\nb = b/60;\nmsg.payload = (a + b + c)/8;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1175,"y":930,"wires":[["472598fab1e3db90","94442aef43e4371a"]]},{"id":"e1eea66baa661c25","type":"function","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","func":"var a = msg.elapsed.time.seconds\nvar b = msg.elapsed.time.minutes\nvar c = msg.elapsed.time.hours\na = a/3600;\nb = b/60;\nmsg.payload = ((a+b+c)/8)*100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1175,"y":965,"wires":[["dec51ee0b93ae1ac"]]},{"id":"b5aba713dcb439ba","type":"influxdb out","z":"7055e591de95b0bb","g":"99524a201de40da8","influxdb":"84a649241a08504b","name":"","measurement":"Availability Percentage","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ecf35f5a71532119","bucket":"c7f8d0a2dac7b469","x":815,"y":1135,"wires":[]},{"id":"1f89e28443ae113f","type":"ui_text_input","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"","label":"Good Products","tooltip":"","group":"54c7fdf6c43fcb4c","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"item1","topicType":"str","x":340,"y":1295,"wires":[["c732f6edefbba786"]]},{"id":"9f24f341ebc2cc64","type":"ui_text_input","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"","label":"Total Products","tooltip":"","group":"54c7fdf6c43fcb4c","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"item2","topicType":"str","x":340,"y":1335,"wires":[["c732f6edefbba786"]]},{"id":"c732f6edefbba786","type":"join","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":1315,"wires":[["87a019f2105e3c18","dd283f974d436e2d","1081885edcfe2782"]]},{"id":"87a019f2105e3c18","type":"function","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"msg.payload.item1 / msg.payload.item2","func":"msg.payload = Number(((msg.payload.item1 / msg.payload.item2)*100).toFixed(2))\n\nif(Number.isNaN(msg.payload) == true){\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1315,"wires":[["74a49a1a273a56d1"]]},{"id":"768aa4d0e9da37f4","type":"ui_gauge","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"","group":"54c7fdf6c43fcb4c","order":4,"width":0,"height":0,"gtype":"gage","title":"Quality","label":"Percent","format":"{{value}}","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"30","seg2":"70","x":895,"y":1400,"wires":[]},{"id":"b6c5290542b70884","type":"ui_button","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"","group":"54c7fdf6c43fcb4c","order":8,"width":0,"height":0,"passthru":false,"label":"Confirm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Percentage","payloadType":"global","topic":"topic","topicType":"msg","x":715,"y":1400,"wires":[["768aa4d0e9da37f4"]]},{"id":"74a49a1a273a56d1","type":"function","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"Global Variable","func":"global.set(\"Percentage\", msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":1315,"wires":[["4dbc3ffcb1ff3716"]]},{"id":"2a3eddf333ef432d","type":"ui_button","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"","group":"54c7fdf6c43fcb4c","order":6,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","x":310,"y":1395,"wires":[["26425fe9990d73a7"]]},{"id":"26425fe9990d73a7","type":"function","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"Reset Function","func":"if(msg.payload == true || msg.topic == \"OFF\"){\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":1395,"wires":[["0656a6bdcdc41abb"]]},{"id":"0656a6bdcdc41abb","type":"link out","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"link out 4","mode":"link","links":["c94890c3d1b9461b","e95e6b670f40d73d","2572cfe72eb177cd"],"x":595,"y":1395,"wires":[]},{"id":"c94890c3d1b9461b","type":"link in","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"link in 4","links":["0656a6bdcdc41abb"],"x":830,"y":1355,"wires":[["768aa4d0e9da37f4"]]},{"id":"dd283f974d436e2d","type":"debug","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"debug to check join node","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":1355,"wires":[]},{"id":"2572cfe72eb177cd","type":"link in","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"link in 5","links":["0656a6bdcdc41abb"],"x":200,"y":1295,"wires":[["1f89e28443ae113f"]]},{"id":"e95e6b670f40d73d","type":"link in","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"link in 6","links":["0656a6bdcdc41abb"],"x":200,"y":1335,"wires":[["9f24f341ebc2cc64"]]},{"id":"777e4f7110c2c0ed","type":"gate","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"storeName":"memory","x":820,"y":1020,"wires":[["dec51ee0b93ae1ac","472598fab1e3db90"]]},{"id":"dec51ee0b93ae1ac","type":"hold","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","x":1335,"y":965,"wires":[["c884a5760595992a"]]},{"id":"2ee390c61e314d0f","type":"inject","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","props":[{"p":"trigger","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":605,"y":1020,"wires":[["777e4f7110c2c0ed"]]},{"id":"472598fab1e3db90","type":"hold","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","x":1335,"y":930,"wires":[["523a6d80d046f99b"]]},{"id":"523a6d80d046f99b","type":"function","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","func":"\nglobal.set(\"Availability\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1485,"y":930,"wires":[[]]},{"id":"1081885edcfe2782","type":"function","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"","func":"msg.payload = Number(((msg.payload.item1 / msg.payload.item2)))\n\nif(Number.isNaN(msg.payload) == true){\n    msg.payload = 0;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":625,"y":1270,"wires":[["37cdffddc304757e"]]},{"id":"37cdffddc304757e","type":"function","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"Global Variable","func":"global.set(\"QualityDeci\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":815,"y":1270,"wires":[[]]},{"id":"e611a06f3c188174","type":"function","z":"7055e591de95b0bb","g":"71539759cfe71594","name":"","func":"var x = global.get('QualityDeci');\nvar y = global.get('Availability');\nvar z = global.get('Performance');\n\nmsg.payload = (x * y * z)*100;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":600,"wires":[["5c776e31fb8f82aa"]]},{"id":"5d2e36786d08e9da","type":"inject","z":"7055e591de95b0bb","g":"71539759cfe71594","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"QualityDeci","payloadType":"global","x":315,"y":600,"wires":[["e611a06f3c188174"]]},{"id":"94442aef43e4371a","type":"influxdb out","z":"7055e591de95b0bb","g":"99524a201de40da8","influxdb":"84a649241a08504b","name":"","measurement":"Availability","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ecf35f5a71532119","bucket":"c7f8d0a2dac7b469","x":1575,"y":895,"wires":[]},{"id":"64d8e6159aa46d7f","type":"influxdb out","z":"7055e591de95b0bb","g":"71539759cfe71594","influxdb":"84a649241a08504b","name":"","measurement":"OEE Percentage","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ecf35f5a71532119","bucket":"c7f8d0a2dac7b469","x":890,"y":560,"wires":[]},{"id":"8bd99ed375ddfdc0","type":"influxdb out","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","influxdb":"84a649241a08504b","name":"","measurement":"Quality Percentage","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ecf35f5a71532119","bucket":"c7f8d0a2dac7b469","x":1415,"y":1315,"wires":[]},{"id":"688b70eeb7e425aa","type":"gate","z":"7055e591de95b0bb","g":"71539759cfe71594","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"storeName":"memory","x":495,"y":560,"wires":[["5c776e31fb8f82aa"]]},{"id":"5c776e31fb8f82aa","type":"hold","z":"7055e591de95b0bb","g":"71539759cfe71594","name":"","x":645,"y":560,"wires":[["64d8e6159aa46d7f","22908ee0f7a314ae"]]},{"id":"22908ee0f7a314ae","type":"debug","z":"7055e591de95b0bb","g":"71539759cfe71594","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":785,"y":515,"wires":[]},{"id":"bff21db512fa099f","type":"inject","z":"7055e591de95b0bb","g":"71539759cfe71594","name":"","props":[{"p":"trigger","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":355,"y":560,"wires":[["688b70eeb7e425aa"]]},{"id":"c884a5760595992a","type":"function","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","func":"global.set('AvailabilityPercentage', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1485,"y":965,"wires":[[]]},{"id":"97d15f7a7de93f51","type":"link out","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","mode":"link","links":["4f4e3f369d16c3d1","a7ac3e737a07373b","cf9321c1e91789d6"],"x":390,"y":970,"wires":[]},{"id":"640269921138db4b","type":"link out","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","mode":"link","links":["d8d81642c859c20e","d3803ef6e9922466"],"x":545,"y":975,"wires":[]},{"id":"d3803ef6e9922466","type":"link in","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","links":["640269921138db4b"],"x":630,"y":1050,"wires":[["777e4f7110c2c0ed"]]},{"id":"d8d81642c859c20e","type":"link in","z":"7055e591de95b0bb","g":"71539759cfe71594","name":"","links":["640269921138db4b"],"x":390,"y":520,"wires":[[]]},{"id":"4f4e3f369d16c3d1","type":"link in","z":"7055e591de95b0bb","g":"71539759cfe71594","name":"","links":["97d15f7a7de93f51"],"x":385,"y":670,"wires":[["e611a06f3c188174"]]},{"id":"6230df32faad5073","type":"inject","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"","props":[{"p":"trigger","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":1020,"y":1270,"wires":[["4dbc3ffcb1ff3716"]]},{"id":"4dbc3ffcb1ff3716","type":"hold","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"","x":1160,"y":1315,"wires":[["8bd99ed375ddfdc0","76fa61bbcdbe1104"]]},{"id":"76fa61bbcdbe1104","type":"debug","z":"7055e591de95b0bb","g":"fa743a10c8b37f44","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1305,"y":1355,"wires":[]},{"id":"5cb1ce234a983df6","type":"inject","z":"7055e591de95b0bb","g":"99524a201de40da8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"AvailabilityPercentage","payloadType":"global","x":350,"y":1135,"wires":[["b5aba713dcb439ba"]]},{"id":"77f9476921e16d30","type":"function","z":"7055e591de95b0bb","g":"12a7feae74f717b9","name":"","func":"var pf = Number(msg.payload/8)*100;\nmsg.payload = pf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1615,"wires":[["b7b89f58ce115e8a"]]},{"id":"14bfc8ddae04b185","type":"inject","z":"7055e591de95b0bb","g":"71539759cfe71594","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Performance","payloadType":"global","x":315,"y":635,"wires":[["e611a06f3c188174"]]},{"id":"684145809b117655","type":"ui_text_input","z":"7055e591de95b0bb","g":"12a7feae74f717b9","name":"","label":"Total Products","tooltip":"","group":"89759160eda69321","order":5,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"item2","topicType":"str","x":340,"y":1615,"wires":[["77f9476921e16d30","2e6493c94a292a50"]]},{"id":"c8cad240ebda799d","type":"ui_button","z":"7055e591de95b0bb","g":"12a7feae74f717b9","name":"","group":"89759160eda69321","order":8,"width":0,"height":0,"passthru":false,"label":"Confirm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"PerformancePercentage","payloadType":"global","topic":"topic","topicType":"msg","x":625,"y":1670,"wires":[["28f31af13d67c858"]]},{"id":"b06c7a6c89dfbf56","type":"ui_button","z":"7055e591de95b0bb","g":"12a7feae74f717b9","name":"","group":"89759160eda69321","order":6,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":235,"y":1700,"wires":[["a87a60584add7493","684145809b117655","28f31af13d67c858"]]},{"id":"a87a60584add7493","type":"function","z":"7055e591de95b0bb","g":"12a7feae74f717b9","name":"Reset Function","func":"if(msg.payload == true || msg.topic == \"OFF\"){\n    msg.payload = 0\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1700,"wires":[[]]},{"id":"2e6493c94a292a50","type":"function","z":"7055e591de95b0bb","g":"12a7feae74f717b9","name":"","func":"msg.payload = Number(msg.payload/8);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1570,"wires":[["0adadd3f30dc245f"]]},{"id":"0adadd3f30dc245f","type":"function","z":"7055e591de95b0bb","g":"12a7feae74f717b9","name":"Global Variable","func":"global.set(\"Performance\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1570,"wires":[[]]},{"id":"94e605fa858aa4aa","type":"influxdb out","z":"7055e591de95b0bb","g":"12a7feae74f717b9","influxdb":"84a649241a08504b","name":"","measurement":"Performance Percentage","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"ecf35f5a71532119","bucket":"c7f8d0a2dac7b469","x":865,"y":1775,"wires":[]},{"id":"becf004f333a8c08","type":"hold","z":"7055e591de95b0bb","g":"12a7feae74f717b9","name":"","x":1030,"y":1615,"wires":[["b8d5587713a4237d"]]},{"id":"b8d5587713a4237d","type":"debug","z":"7055e591de95b0bb","g":"12a7feae74f717b9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1200,"y":1615,"wires":[]},{"id":"992ea514e0b0bf49","type":"inject","z":"7055e591de95b0bb","g":"12a7feae74f717b9","name":"","props":[{"p":"trigger","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":900,"y":1570,"wires":[["becf004f333a8c08"]]},{"id":"28f31af13d67c858","type":"ui_gauge","z":"7055e591de95b0bb","g":"12a7feae74f717b9","name":"","group":"89759160eda69321","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":1700,"wires":[]},{"id":"0cbbc301522693a9","type":"inject","z":"7055e591de95b0bb","g":"12a7feae74f717b9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"PerformancePercentage","payloadType":"global","x":460,"y":1775,"wires":[["94e605fa858aa4aa"]]},{"id":"b7b89f58ce115e8a","type":"function","z":"7055e591de95b0bb","g":"12a7feae74f717b9","name":"Global Variable","func":"global.set(\"PerformancePercentage\", msg.payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":1615,"wires":[["becf004f333a8c08"]]},{"id":"a1b5f6b3d37a5a60","type":"mqtt-broker","name":"","broker":"192.168.1.10","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"91221128c842e317","type":"mqtt-broker","name":"","broker":"192.168.2.16","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"eea0be80b588d55a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"84a649241a08504b","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"54c7fdf6c43fcb4c","type":"ui_group","name":"Group 1","tab":"f1dc1ca1.c1457","order":1,"disp":true,"width":6},{"id":"89759160eda69321","type":"ui_group","name":"Performance","tab":"f1dc1ca1.c1457","order":9,"disp":true,"width":"6","collapse":false},{"id":"f1dc1ca1.c1457","type":"ui_tab","name":"Total Products Performance","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
