ProjectNTUTelegramAcknowledgement
[{"id":"4d22431fc3ae7bd2","type":"tab","label":"Telegram NTU","disabled":false,"info":"","env":[]},{"id":"e1e9448637a48ead","type":"telegram sender","z":"4d22431fc3ae7bd2","name":"","bot":"692cdf5f1d7fc84e","haserroroutput":false,"outputs":1,"x":930,"y":380,"wires":[[]]},{"id":"42e45bcd88cdce0e","type":"function","z":"4d22431fc3ae7bd2","name":"build keyboard","func":"var opts = {\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n                {\n                    \"text\": \"Acknowledge\",\n                    \"callback_data\": \"Acknowledged\"            \n                }, \n                ]\n            ]\n  })\n}\n\n\nmsg.payload.content = \"Selection?\";\nmsg.payload.options = opts;\nmsg.payload.chatId = 794399470;\nmsg.payload.messageId = 1426;\nmsg.payload.sentMessageId = 1426;\nmsg.payload.type = \"message\";\n\nreturn [ msg ];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":300,"wires":[["e1e9448637a48ead","cf1df35c1cb4649f"]]},{"id":"cf1df35c1cb4649f","type":"debug","z":"4d22431fc3ae7bd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":300,"wires":[]},{"id":"6b8be7eae50dd92b","type":"telegram event","z":"4d22431fc3ae7bd2","name":"","bot":"692cdf5f1d7fc84e","event":"callback_query","autoanswer":false,"x":380,"y":382,"wires":[["12dba952af3fd86e","aced6e5379dc65ea"]]},{"id":"bd1aaf2cf672195c","type":"comment","z":"4d22431fc3ae7bd2","name":"Inline keyboard: Reply with \"callback_query\"","info":"","x":450,"y":260,"wires":[]},{"id":"12dba952af3fd86e","type":"function","z":"4d22431fc3ae7bd2","name":"answerCallbackQuery","func":"var text = \"Alarm has been \" + msg.payload.content;\nvar options = {\n    //text : text, <-- you can set the text here or use msg.payload.content \n    show_alert : true,\n    cache_time : 10\n};\n\nmsg.payload.content = text;\nmsg.payload.options = options;\nmsg.payload.type = \"message\";\n\nreturn [ msg ];\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":380,"wires":[["e1e9448637a48ead"]]},{"id":"aced6e5379dc65ea","type":"function","z":"4d22431fc3ae7bd2","name":"","func":"if (msg.payload.content == \"Acknowledged\"){\n    msg.payload = \"close\"\n    msg.topic = \"control\"\n} \nelse {\nmsg.payload = \"open\"\nmsg.topic = \"control\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":420,"wires":[["f8e03684fd9e1b22"]]},{"id":"c16102720b95b8f1","type":"debug","z":"4d22431fc3ae7bd2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":420,"wires":[]},{"id":"5ace438cfe8f705e","type":"link in","z":"4d22431fc3ae7bd2","name":"","links":[],"x":285,"y":300,"wires":[["aecd40297b8f697e"]]},{"id":"f8e03684fd9e1b22","type":"gate","z":"4d22431fc3ae7bd2","name":"","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"storeName":"memory","x":750,"y":420,"wires":[["c16102720b95b8f1"]]},{"id":"aecd40297b8f697e","type":"function","z":"4d22431fc3ae7bd2","name":"","func":"if(msg.payload == true){\n    msg.payload = {\n        \"content\" : \"\"\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":300,"wires":[["42e45bcd88cdce0e"]]},{"id":"c2d5a6f1d45834b6","type":"inject","z":"4d22431fc3ae7bd2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":190,"y":140,"wires":[["aecd40297b8f697e"]]},{"id":"692cdf5f1d7fc84e","type":"telegram bot","botname":"Kaijieeebot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]
