SP W14.json
[{"id":"60473af337db346d","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"818afcaa36401a74","type":"group","z":"60473af337db346d","name":"Connect to Sensors","style":{"stroke":"#000000","fill":"#92d04f","label":true,"color":"#000000"},"nodes":["6208a9cc7a4dacfd","44c58337760fbb1b","c8a223abd4f8d302","af76f04edbc09329","a8523773ae26a417","316bed8f41e49fc2","65c0f2702bf0d17e","c8eed0a81e343703","61f739613d2cf64c","0d609e951544c1c4","8fad4b4dddc01460","bdb9c70c385ab02c","9ecf8e5ded4f8571","4da042430a52eea7","5fa85a07013ddfdd","3c73a8821e48d16d","e82ce013b5144b54","5411552d02a981e9","53690576b6d837da","9aa5d35a02c3541d","b2f751bedd700a8e","479d0433096f8811","b7df1fad31f899ab","5ad72cedd8046fe0"],"x":91,"y":59,"w":565,"h":362},{"id":"999b3c6c6ffac7be","type":"group","z":"60473af337db346d","name":"Upload to InfluxDB","style":{"stroke":"#000000","fill":"#b797cf","label":true,"color":"#000000"},"nodes":["59f4f5640762b0a0","e7151cbde113aa7e","7c13e8bfbc2071c3","6ad5b57ed6534349","3ee27b43d02703f2","491c8ce77f0d82fd","28a620761b2cfcdd","929a0bea02d12f5e","b12bb2bbd9603baa","b50396d5860b7877","9bfc7738bd96d1c8","629bef64b37660ff","1c74f0114c019f89","b8275d8095a4117c","f3fad172085c7b8f","28f4d7eddfc02335","5ac25e13772b0949","09884aee2411ce0c"],"x":714,"y":59,"w":742,"h":362},{"id":"239c5ba107899c46","type":"group","z":"60473af337db346d","name":"Time Counting","style":{"fill":"#bfdbef","label":true,"color":"#001f60"},"nodes":["8f9e0a3c14dc91d5","72ae29672140ab77","20ee38ab4819c0f0","0e45f683a008c089","9d89260bdfb14b98","fa77bc3015768bad","8b252d1efbd9fea5","93c65ad15a6956fd","1c39681c09d85146","2159e2109be98cdb","b6aac3b1bdbf34e3","ee423ff05446c3c2","bd161e9f8b46db0f"],"env":[],"x":274,"y":439,"w":1032,"h":282},{"id":"deb8c74ceb7629f9","type":"link in","z":"60473af337db346d","name":"","links":["61f739613d2cf64c"],"x":125,"y":520,"wires":[[]]},{"id":"310a3cb70de56d1c","type":"link in","z":"60473af337db346d","name":"","links":["0d609e951544c1c4"],"x":125,"y":560,"wires":[[]]},{"id":"117b878c8fd2712c","type":"link in","z":"60473af337db346d","name":"","links":["8fad4b4dddc01460"],"x":125,"y":600,"wires":[[]]},{"id":"7a42169f9d3292fa","type":"link in","z":"60473af337db346d","name":"","links":["bdb9c70c385ab02c"],"x":125,"y":640,"wires":[[]]},{"id":"0e41bd2361c33c12","type":"link in","z":"60473af337db346d","name":"","links":["9ecf8e5ded4f8571"],"x":125,"y":680,"wires":[[]]},{"id":"c84a8953d9c590c6","type":"link in","z":"60473af337db346d","name":"","links":["4da042430a52eea7"],"x":125,"y":720,"wires":[[]]},{"id":"a50cf89a3786ec63","type":"link in","z":"60473af337db346d","name":"","links":["5fa85a07013ddfdd"],"x":125,"y":760,"wires":[[]]},{"id":"e782ac55adee16a9","type":"link in","z":"60473af337db346d","name":"","links":["3c73a8821e48d16d"],"x":125,"y":800,"wires":[[]]},{"id":"6208a9cc7a4dacfd","type":"mqtt in","z":"60473af337db346d","d":true,"g":"818afcaa36401a74","name":"","topic":"Kube-IoT/CC:DE:67:17:22:82","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":260,"wires":[["b2f751bedd700a8e"]]},{"id":"44c58337760fbb1b","type":"mqtt in","z":"60473af337db346d","d":true,"g":"818afcaa36401a74","name":"","topic":"Kube-IoT/FD:61:44:10:62:94","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":340,"wires":[["b7df1fad31f899ab"]]},{"id":"c8a223abd4f8d302","type":"mqtt in","z":"60473af337db346d","d":true,"g":"818afcaa36401a74","name":"","topic":"Kube-IoT/DE:11:8F:F3:93:E3","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":300,"wires":[["479d0433096f8811"]]},{"id":"af76f04edbc09329","type":"mqtt in","z":"60473af337db346d","g":"818afcaa36401a74","name":"","topic":"Kube-IoT/FE:EE:63:92:CF:15","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":140,"wires":[["5411552d02a981e9"]]},{"id":"a8523773ae26a417","type":"mqtt in","z":"60473af337db346d","g":"818afcaa36401a74","name":"","topic":"Kube-IoT/F4:CA:B7:DC:58:E9","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":220,"wires":[["9aa5d35a02c3541d"]]},{"id":"316bed8f41e49fc2","type":"mqtt in","z":"60473af337db346d","g":"818afcaa36401a74","name":"","topic":"Kube-IoT/C4:43:A9:EA:BB:16","qos":"2","datatype":"json","broker":"a1b5f6b3d37a5a60","nl":false,"rap":false,"inputs":0,"x":240,"y":180,"wires":[["53690576b6d837da","2159e2109be98cdb","ad1381dbe6f0a50b"]]},{"id":"65c0f2702bf0d17e","type":"mqtt in","z":"60473af337db346d","g":"818afcaa36401a74","name":"","topic":"Kube-IoT/F7:49:20:D0:F3:54","qos":"2","datatype":"json","broker":"91221128c842e317","nl":false,"rap":false,"inputs":0,"x":237,"y":100,"wires":[["e82ce013b5144b54"]]},{"id":"c8eed0a81e343703","type":"mqtt in","z":"60473af337db346d","d":true,"g":"818afcaa36401a74","name":"","topic":"Kube-IoT/","qos":"2","datatype":"json","broker":"","nl":false,"rap":false,"inputs":0,"x":180,"y":380,"wires":[["5ad72cedd8046fe0"]]},{"id":"61f739613d2cf64c","type":"link out","z":"60473af337db346d","g":"818afcaa36401a74","name":"Sensor 1","mode":"link","links":["b50396d5860b7877","deb8c74ceb7629f9"],"x":615,"y":100,"wires":[]},{"id":"0d609e951544c1c4","type":"link out","z":"60473af337db346d","g":"818afcaa36401a74","name":"Sensor 2","mode":"link","links":["9bfc7738bd96d1c8","310a3cb70de56d1c"],"x":615,"y":140,"wires":[]},{"id":"8fad4b4dddc01460","type":"link out","z":"60473af337db346d","g":"818afcaa36401a74","name":"Sensor 3","mode":"link","links":["629bef64b37660ff","117b878c8fd2712c"],"x":615,"y":180,"wires":[]},{"id":"bdb9c70c385ab02c","type":"link out","z":"60473af337db346d","g":"818afcaa36401a74","name":"Sensor 4","mode":"link","links":["1c74f0114c019f89","7a42169f9d3292fa"],"x":615,"y":220,"wires":[]},{"id":"9ecf8e5ded4f8571","type":"link out","z":"60473af337db346d","g":"818afcaa36401a74","name":"Sensor 5","mode":"link","links":["0e41bd2361c33c12","b8275d8095a4117c"],"x":615,"y":260,"wires":[]},{"id":"4da042430a52eea7","type":"link out","z":"60473af337db346d","g":"818afcaa36401a74","name":"Sensor 6","mode":"link","links":["c84a8953d9c590c6","f3fad172085c7b8f"],"x":615,"y":300,"wires":[]},{"id":"5fa85a07013ddfdd","type":"link out","z":"60473af337db346d","g":"818afcaa36401a74","name":"Sensor 7","mode":"link","links":["a50cf89a3786ec63","28f4d7eddfc02335"],"x":615,"y":340,"wires":[]},{"id":"3c73a8821e48d16d","type":"link out","z":"60473af337db346d","g":"818afcaa36401a74","name":"Sensor 8","mode":"link","links":["5ac25e13772b0949","e782ac55adee16a9"],"x":615,"y":380,"wires":[]},{"id":"e82ce013b5144b54","type":"change","z":"60473af337db346d","g":"818afcaa36401a74","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Spindle Tool","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":100,"wires":[["61f739613d2cf64c"]]},{"id":"5411552d02a981e9","type":"change","z":"60473af337db346d","g":"818afcaa36401a74","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Y Axis Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":140,"wires":[["0d609e951544c1c4"]]},{"id":"53690576b6d837da","type":"change","z":"60473af337db346d","g":"818afcaa36401a74","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Spindle Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":180,"wires":[["8fad4b4dddc01460"]]},{"id":"9aa5d35a02c3541d","type":"change","z":"60473af337db346d","g":"818afcaa36401a74","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Z Axis Motor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":220,"wires":[["bdb9c70c385ab02c"]]},{"id":"b2f751bedd700a8e","type":"change","z":"60473af337db346d","g":"818afcaa36401a74","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["9ecf8e5ded4f8571"]]},{"id":"479d0433096f8811","type":"change","z":"60473af337db346d","g":"818afcaa36401a74","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["4da042430a52eea7"]]},{"id":"b7df1fad31f899ab","type":"change","z":"60473af337db346d","g":"818afcaa36401a74","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 7","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":340,"wires":[["5fa85a07013ddfdd"]]},{"id":"5ad72cedd8046fe0","type":"change","z":"60473af337db346d","g":"818afcaa36401a74","name":"Change Sensor Name","rules":[{"t":"set","p":"topic","pt":"msg","to":"Sensor 8","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["3c73a8821e48d16d"]]},{"id":"59f4f5640762b0a0","type":"function","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":100,"wires":[["b12bb2bbd9603baa"]]},{"id":"e7151cbde113aa7e","type":"function","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":300,"wires":[["b12bb2bbd9603baa"]]},{"id":"7c13e8bfbc2071c3","type":"function","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":220,"wires":[["b12bb2bbd9603baa"]]},{"id":"6ad5b57ed6534349","type":"function","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":140,"wires":[["b12bb2bbd9603baa"]]},{"id":"3ee27b43d02703f2","type":"function","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[["b12bb2bbd9603baa"]]},{"id":"491c8ce77f0d82fd","type":"function","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":180,"wires":[["b12bb2bbd9603baa"]]},{"id":"28a620761b2cfcdd","type":"function","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":340,"wires":[["b12bb2bbd9603baa"]]},{"id":"929a0bea02d12f5e","type":"function","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"Variable Deleter","func":"delete msg.payload.gw_name\ndelete msg.payload.data_format\ndelete msg.payload.v_ang_1\ndelete msg.payload.v_ang_2\ndelete msg.payload.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":380,"wires":[["b12bb2bbd9603baa"]]},{"id":"b12bb2bbd9603baa","type":"change","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"Formatter","rules":[{"t":"set","p":"payload","pt":"msg","to":"[\t   {\t       \"measurement\": msg.topic,\t       \"fields\": msg.$.payload\t  }\t]         ","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":240,"wires":[["09884aee2411ce0c"]],"info":"To change the "},{"id":"b50396d5860b7877","type":"link in","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"","links":["61f739613d2cf64c"],"x":755,"y":100,"wires":[["59f4f5640762b0a0"]]},{"id":"9bfc7738bd96d1c8","type":"link in","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"","links":["0d609e951544c1c4"],"x":755,"y":140,"wires":[["6ad5b57ed6534349"]]},{"id":"629bef64b37660ff","type":"link in","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"","links":["8fad4b4dddc01460"],"x":755,"y":180,"wires":[["491c8ce77f0d82fd"]]},{"id":"1c74f0114c019f89","type":"link in","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"","links":["bdb9c70c385ab02c"],"x":755,"y":220,"wires":[["7c13e8bfbc2071c3"]]},{"id":"b8275d8095a4117c","type":"link in","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"","links":["9ecf8e5ded4f8571"],"x":755,"y":260,"wires":[["3ee27b43d02703f2"]]},{"id":"f3fad172085c7b8f","type":"link in","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"","links":["4da042430a52eea7"],"x":755,"y":300,"wires":[["e7151cbde113aa7e"]]},{"id":"28f4d7eddfc02335","type":"link in","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"","links":["5fa85a07013ddfdd"],"x":755,"y":340,"wires":[["28a620761b2cfcdd"]]},{"id":"5ac25e13772b0949","type":"link in","z":"60473af337db346d","g":"999b3c6c6ffac7be","name":"","links":["3c73a8821e48d16d"],"x":755,"y":380,"wires":[["929a0bea02d12f5e"]]},{"id":"09884aee2411ce0c","type":"influxdb batch","z":"60473af337db346d","g":"999b3c6c6ffac7be","influxdb":"eea0be80b588d55a","precision":"","retentionPolicy":"","name":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1320,"y":240,"wires":[]},{"id":"2159e2109be98cdb","type":"switch","z":"60473af337db346d","g":"239c5ba107899c46","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"45","vt":"num"},{"t":"lt","v":"44","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":480,"wires":[["8f9e0a3c14dc91d5"],["fa77bc3015768bad"]]},{"id":"8f9e0a3c14dc91d5","type":"change","z":"60473af337db346d","g":"239c5ba107899c46","name":"{command:'start'}","rules":[{"t":"set","p":"command","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":560,"wires":[["bd161e9f8b46db0f"]]},{"id":"1a31ed069ce26f37","type":"debug","z":"60473af337db346d","name":"last command","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"command","targetType":"msg","statusVal":"","statusType":"auto","x":1360,"y":820,"wires":[]},{"id":"ed0518afa263e236","type":"influxdb out","z":"60473af337db346d","influxdb":"685c2052c67a3d18","name":"","measurement":"Availability Percentage","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1470,"y":860,"wires":[]},{"id":"ad1381dbe6f0a50b","type":"debug","z":"60473af337db346d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":20,"wires":[]},{"id":"5c661fd717f592e7","type":"influxdb out","z":"60473af337db346d","influxdb":"685c2052c67a3d18","name":"","measurement":"Performance","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1440,"y":900,"wires":[]},{"id":"e8ce4ea70c5ef9c8","type":"influxdb out","z":"60473af337db346d","influxdb":"685c2052c67a3d18","name":"","measurement":"Quality","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1420,"y":940,"wires":[]},{"id":"98db1d3594f86b7b","type":"influxdb out","z":"60473af337db346d","influxdb":"685c2052c67a3d18","name":"","measurement":"OEE","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"a93ca2a46ae26481","bucket":"SP W1412B","x":1410,"y":980,"wires":[]},{"id":"72ae29672140ab77","type":"timerswitch","z":"60473af337db346d","g":"239c5ba107899c46","name":"","ontopic":"ON","offtopic":"OFF","onpayload":"START","offpayload":"STOP","disabled":false,"schedules":[{"on_h":"07","on_m":"00","on_s":"00","off_h":"18","off_m":"00","off_s":"00","valid":true}],"x":390,"y":580,"wires":[["93c65ad15a6956fd","0e45f683a008c089"]]},{"id":"20ee38ab4819c0f0","type":"debug","z":"60473af337db346d","g":"239c5ba107899c46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"elapsed.millis","targetType":"msg","statusVal":"elapsed.millis","statusType":"auto","x":1150,"y":620,"wires":[]},{"id":"0e45f683a008c089","type":"debug","z":"60473af337db346d","g":"239c5ba107899c46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":560,"wires":[]},{"id":"9d89260bdfb14b98","type":"change","z":"60473af337db346d","g":"239c5ba107899c46","name":"{command:'status'}","rules":[{"t":"set","p":"command","pt":"msg","to":"status","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":600,"wires":[["bd161e9f8b46db0f"]]},{"id":"fa77bc3015768bad","type":"change","z":"60473af337db346d","g":"239c5ba107899c46","name":"{command:'stop'}","rules":[{"t":"set","p":"command","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":640,"wires":[["bd161e9f8b46db0f"]]},{"id":"8b252d1efbd9fea5","type":"change","z":"60473af337db346d","g":"239c5ba107899c46","name":"{command:'reset'}","rules":[{"t":"set","p":"command","pt":"msg","to":"reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":680,"wires":[["bd161e9f8b46db0f"]]},{"id":"93c65ad15a6956fd","type":"function","z":"60473af337db346d","g":"239c5ba107899c46","name":"","func":"if(msg.topic == \"OFF\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":600,"wires":[["fa77bc3015768bad","8b252d1efbd9fea5"]]},{"id":"1c39681c09d85146","type":"inject","z":"60473af337db346d","g":"239c5ba107899c46","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":570,"y":640,"wires":[["9d89260bdfb14b98"]]},{"id":"b6aac3b1bdbf34e3","type":"debug","z":"60473af337db346d","g":"239c5ba107899c46","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"elapsed.millis","targetType":"msg","statusVal":"elapsed.millis","statusType":"auto","x":1170,"y":500,"wires":[]},{"id":"ee423ff05446c3c2","type":"inject","z":"60473af337db346d","g":"239c5ba107899c46","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"num","x":370,"y":480,"wires":[["2159e2109be98cdb"]]},{"id":"bd161e9f8b46db0f","type":"hourglass","z":"60473af337db346d","g":"239c5ba107899c46","name":"","persistId":"","humanizeLocale":"","x":1030,"y":560,"wires":[["b6aac3b1bdbf34e3"]]},{"id":"a1b5f6b3d37a5a60","type":"mqtt-broker","name":"","broker":"192.168.1.10","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"91221128c842e317","type":"mqtt-broker","name":"","broker":"192.168.2.16","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"eea0be80b588d55a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"685c2052c67a3d18","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":false}]
