StockBRRTC.json
[{"id":"17809ae6e0919aa5","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"4ec84b0628aefddb","type":"group","z":"17809ae6e0919aa5","name":"Querying Stock","style":{"stroke":"#000000","label":true,"color":"#000000"},"nodes":["a34cc4be6b7170f8","520d67b12678f051","2d9289c31b96e1c1","726b3eb1bc1615ea","3bfae582fd927ca7","428124c12626ec39","ef1f84eded80ba43","1654681d93af57e5"],"x":74,"y":339,"w":1672,"h":82},{"id":"a34cc4be6b7170f8","type":"mysql","z":"17809ae6e0919aa5","g":"4ec84b0628aefddb","mydb":"c37210e577807404","name":"","x":810,"y":380,"wires":[["2d9289c31b96e1c1"]]},{"id":"520d67b12678f051","type":"function","z":"17809ae6e0919aa5","g":"4ec84b0628aefddb","name":"function 4","func":"\nmsg.topic = \"SELECT name, Type , Total_Quantity_Left, Name FROM kj_daddy_1 WHERE type LIKE '%\" + msg.payload + \"%'\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":380,"wires":[["a34cc4be6b7170f8"]]},{"id":"2d9289c31b96e1c1","type":"function","z":"17809ae6e0919aa5","g":"4ec84b0628aefddb","name":"function 5","func":"msg.payload = msg.payload.map(e => {\n    return `Type: ${e.Type} \\n Total_Quantity_Left: ${e.Total_Quantity_Left} \\n Name: ${e.Name} \\n`\n}).join(' ')\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":380,"wires":[["428124c12626ec39"]]},{"id":"726b3eb1bc1615ea","type":"debug","z":"17809ae6e0919aa5","g":"4ec84b0628aefddb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1630,"y":380,"wires":[]},{"id":"3bfae582fd927ca7","type":"telegram sender","z":"17809ae6e0919aa5","g":"4ec84b0628aefddb","name":"","bot":"69e5b25c843c3f08","haserroroutput":false,"outputs":1,"x":1430,"y":380,"wires":[["726b3eb1bc1615ea"]]},{"id":"428124c12626ec39","type":"function","z":"17809ae6e0919aa5","g":"4ec84b0628aefddb","name":"Declare Telegram Objects","func":"msg.payload={\n    content:msg.payload,\n    type:'message',\n    chatId: [794399470, -846571581]//your chat id\n   }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":380,"wires":[["3bfae582fd927ca7"]]},{"id":"ef1f84eded80ba43","type":"telegram receiver","z":"17809ae6e0919aa5","g":"4ec84b0628aefddb","name":"","bot":"69e5b25c843c3f08","saveDataDir":"","filterCommands":false,"x":190,"y":380,"wires":[["1654681d93af57e5"],[]]},{"id":"1654681d93af57e5","type":"change","z":"17809ae6e0919aa5","g":"4ec84b0628aefddb","name":"","rules":[{"t":"move","p":"payload.content","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":380,"wires":[["520d67b12678f051"]]},{"id":"c37210e577807404","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"testingballs","tz":"","charset":"UTF8"},{"id":"69e5b25c843c3f08","type":"telegram bot","botname":"Kaijieeebot","usernames":"","chatids":"-846571581","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]
