Stopflow.json
[{"id":"c5b3c73cb7b6b8eb","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"1a271f9e299fc092","type":"inject","z":"c5b3c73cb7b6b8eb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Flow 3","payload":"true","payloadType":"bool","x":240,"y":240,"wires":[["f699932c4b0e8fec"]]},{"id":"c99fd1d954c090e7","type":"http request","z":"c5b3c73cb7b6b8eb","name":"Get single flow","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/flow/{{flowId}}","tls":"","persist":false,"proxy":"","authType":"basic","senderr":false,"x":1080,"y":240,"wires":[["1051d6fe3f7ce2ea"]]},{"id":"47d4008515ee4aaa","type":"debug","z":"c5b3c73cb7b6b8eb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1690,"y":240,"wires":[]},{"id":"1051d6fe3f7ce2ea","type":"change","z":"c5b3c73cb7b6b8eb","name":"","rules":[{"t":"set","p":"payload.disabled","pt":"msg","to":"flowStatus","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1290,"y":240,"wires":[["0e9f5837ab703eb9"]]},{"id":"71be5fdab28c621f","type":"inject","z":"c5b3c73cb7b6b8eb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Flow 3","payload":"false","payloadType":"bool","x":250,"y":360,"wires":[["f699932c4b0e8fec"]]},{"id":"f699932c4b0e8fec","type":"change","z":"c5b3c73cb7b6b8eb","name":"","rules":[{"t":"set","p":"flowStatus","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":240,"wires":[["0e294649b18191d9"]]},{"id":"0e9f5837ab703eb9","type":"http request","z":"c5b3c73cb7b6b8eb","name":"Update flow","method":"PUT","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/flow/{{payload.id}}","tls":"","persist":false,"proxy":"","authType":"basic","senderr":false,"x":1510,"y":240,"wires":[["47d4008515ee4aaa"]]},{"id":"0e294649b18191d9","type":"http request","z":"c5b3c73cb7b6b8eb","name":"Get flows","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/flows","tls":"","persist":false,"proxy":"","authType":"basic","senderr":false,"x":660,"y":240,"wires":[["166a5bbfc8abd7f4"]]},{"id":"166a5bbfc8abd7f4","type":"change","z":"c5b3c73cb7b6b8eb","name":"get flowId by name","rules":[{"t":"set","p":"flowId","pt":"msg","to":"*[type = 'tab' and label = $$.topic].id","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":240,"wires":[["c99fd1d954c090e7"]]},{"id":"842bc50ee4c3cda4","type":"comment","z":"c5b3c73cb7b6b8eb","name":"Enable flow","info":"","x":230,"y":320,"wires":[]},{"id":"0b4c00f1845e1ea1","type":"comment","z":"c5b3c73cb7b6b8eb","name":"Disable flow","info":"","x":230,"y":200,"wires":[]},{"id":"9312a58738aaf9a9","type":"comment","z":"c5b3c73cb7b6b8eb","name":"This will enable or disable a flow (tab)  The topic should be the flow name.","info":"","x":420,"y":120,"wires":[]},{"id":"2e583c909cc33775","type":"inject","z":"c5b3c73cb7b6b8eb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"My Flow","payload":"true","payloadType":"bool","x":250,"y":500,"wires":[["f699932c4b0e8fec"]]},{"id":"904290142035e38b","type":"inject","z":"c5b3c73cb7b6b8eb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Flow 3","payload":"false","payloadType":"bool","x":250,"y":620,"wires":[["f699932c4b0e8fec"]]},{"id":"77636d1f4e592734","type":"comment","z":"c5b3c73cb7b6b8eb","name":"Enable flow","info":"","x":230,"y":580,"wires":[]},{"id":"9a84f96930952550","type":"comment","z":"c5b3c73cb7b6b8eb","name":"Disable flow","info":"","x":230,"y":460,"wires":[]},{"id":"a9f478a48632cef3","type":"comment","z":"c5b3c73cb7b6b8eb","name":"msg.topic should be your flow name ","info":"","x":300,"y":280,"wires":[]}]
