Thailand Tank.json
[{"id":"168b628cf2926123","type":"tab","label":"Tanks","disabled":false,"info":""},{"id":"3ca15b679e741253","type":"group","z":"168b628cf2926123","name":"Tank 1 Node Id","style":{"label":true},"nodes":["54b7ba40e8fed59a","86f34af399e5c445","3ec7d95f0b5562c9","d673a81d5cc70b14","4f647e5a4e038e1e","1e281ef672532817","9cf9084b722f0817","41cd8ac46a6d6bd5"],"x":14,"y":19,"w":412,"h":361},{"id":"3b8b466fc647cda0","type":"group","z":"168b628cf2926123","name":"Tank 4 NodeId","style":{"label":true},"nodes":["9bbf45973a43429f","edb0b2108e70a3a4","1078e97af1a2923c","0fdadee493f57757","b96b21c7ffce1b3f","4fb6efd35b7b2990"],"x":14,"y":1119,"w":372,"h":282},{"id":"bbd1ad4a16944f63","type":"group","z":"168b628cf2926123","name":"Tank 5 NodeId","style":{"label":true},"nodes":["9f572532ea4a1ddb","4fc5fb8d86c76ebc","f137b5e0e86e7b20","0be70c71d447fd62","cf053d3d2f23e561","a41f495ada277925"],"x":14,"y":1479,"w":372,"h":282},{"id":"4440e58599b3bc12","type":"group","z":"168b628cf2926123","name":"Tank 3 NodeId","style":{"label":true},"nodes":["b6919f0b127aae35","dd325e5c750a265a","783711e5c32d7247","8ec490e360141958","ed367f6e2faa2941","41182e182f89040e"],"x":14,"y":779,"w":372,"h":282},{"id":"d84429f7e2d90f9b","type":"group","z":"168b628cf2926123","name":"Tank 1 InfluxDB","style":{"label":true},"nodes":["ab1aeb43d897ced8","194b05af6376e77a","1aecf2c718e89bf2","e84c8d7627a5f165","1e0e003dad54e63d","77282492f7f3a727","1d6fb2153ce70500","da211bd54da0ddde"],"x":1034,"y":19,"w":472,"h":362},{"id":"3bae6225ee9c85ed","type":"group","z":"168b628cf2926123","name":"Tank 2 NodeId","style":{"label":true},"nodes":["4a8e651371c9dc01","43cccbc74fcaea0e","2957d3e5edfe80a7","a2b63b3b149eb43d"],"x":14,"y":479,"w":372,"h":202},{"id":"562889a2f9cf4bc6","type":"group","z":"168b628cf2926123","name":"Tank 2 InfluxDB","style":{"label":true},"nodes":["15c4a5336cf03f9b","81be23220d3975b2","2f0731bdd75089e2","aac16dbf89f11055"],"x":1014,"y":479,"w":412,"h":202},{"id":"fb0afae04e1f9ecc","type":"group","z":"168b628cf2926123","name":"Tank 3 InfluxDB","style":{"label":true},"nodes":["65d822be868cbfcc","6b74b5dfe6aa1e9a","3e271ddadd2ccfb5","18f4a27a8cb51dd1","0e1dfa165d052e61","bacf27d21e8136c4"],"x":1014,"y":779,"w":412,"h":282},{"id":"ff1621326a2deec1","type":"group","z":"168b628cf2926123","name":"Tank 4 InfluxDB","style":{"label":true},"nodes":["16dbf95885ec9bc6","be14c438613aa585","a65eece73d59fb53","37e1eadec344adf7","9aa733c70508606d","3bc3ef5eecf116bf"],"x":1014,"y":1119,"w":412,"h":282},{"id":"776ff9f2a9913ed8","type":"group","z":"168b628cf2926123","name":"Tank 5 InfluxDB","style":{"label":true},"nodes":["bbc59378bb224378","b92b4714ccfba3f0","97f78bb739e168e0","a68aefe40f143ddc","d75201bc7b3c135e","64754804486ffeb2"],"x":1014,"y":1499,"w":412,"h":282},{"id":"54b7ba40e8fed59a","type":"inject","z":"168b628cf2926123","g":"3ca15b679e741253","name":"Tank 1 Temperature","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=2","x":160,"y":60,"wires":[["9b24eacae8f0f578"]]},{"id":"86f34af399e5c445","type":"inject","z":"168b628cf2926123","g":"3ca15b679e741253","name":"Tank 1 Sonification Power Set","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=1","x":190,"y":99,"wires":[["9b24eacae8f0f578"]]},{"id":"3ec7d95f0b5562c9","type":"inject","z":"168b628cf2926123","g":"3ca15b679e741253","name":"Tank 1 Circulation Flowrate","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=4","x":180,"y":140,"wires":[["9b24eacae8f0f578"]]},{"id":"d673a81d5cc70b14","type":"inject","z":"168b628cf2926123","g":"3ca15b679e741253","name":"Tank 1 pH","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=6","x":130,"y":179,"wires":[["9b24eacae8f0f578"]]},{"id":"4f647e5a4e038e1e","type":"inject","z":"168b628cf2926123","g":"3ca15b679e741253","name":"Tank 1 Total Process Time Set","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=3","x":190,"y":220,"wires":[["9b24eacae8f0f578"]]},{"id":"1e281ef672532817","type":"inject","z":"168b628cf2926123","g":"3ca15b679e741253","name":"Tank 1 Reserved Tank DI Incoming Flowrate","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=5","x":230,"y":260,"wires":[["9b24eacae8f0f578"]]},{"id":"de8eb52751ac24ca","type":"OpcUa-Client","z":"168b628cf2926123","endpoint":"d6d4fb252057c7c0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":520,"y":960,"wires":[["d060251b2c790236"]]},{"id":"b6919f0b127aae35","type":"inject","z":"168b628cf2926123","g":"4440e58599b3bc12","name":"Tank 3 Sonification Power Measured","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=40","x":210,"y":980,"wires":[["de8eb52751ac24ca"]]},{"id":"dd325e5c750a265a","type":"inject","z":"168b628cf2926123","g":"4440e58599b3bc12","name":"Tank 3 Temperature","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=33","x":160,"y":820,"wires":[["de8eb52751ac24ca"]]},{"id":"783711e5c32d7247","type":"inject","z":"168b628cf2926123","g":"4440e58599b3bc12","name":"Tank 3 Total Process Time Set","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=34","x":190,"y":860,"wires":[["de8eb52751ac24ca"]]},{"id":"8ec490e360141958","type":"inject","z":"168b628cf2926123","g":"4440e58599b3bc12","name":"Tank 3 Total Process Time Measured","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=41","x":210,"y":900,"wires":[["de8eb52751ac24ca"]]},{"id":"9bbf45973a43429f","type":"inject","z":"168b628cf2926123","g":"3b8b466fc647cda0","name":"Tank 4 Temperature","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=13","x":160,"y":1160,"wires":[["3d7a8c8294dd5b0b"]]},{"id":"edb0b2108e70a3a4","type":"inject","z":"168b628cf2926123","g":"3b8b466fc647cda0","name":"Tank 4 Total Process Time Set","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=14","x":190,"y":1200,"wires":[["3d7a8c8294dd5b0b"]]},{"id":"1078e97af1a2923c","type":"inject","z":"168b628cf2926123","g":"3b8b466fc647cda0","name":"Tank 4 Sonification Power Set","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=11","x":190,"y":1320,"wires":[["3d7a8c8294dd5b0b"]]},{"id":"0fdadee493f57757","type":"inject","z":"168b628cf2926123","g":"3b8b466fc647cda0","name":"Tank 4 Circulation Flowrate","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=15","x":180,"y":1360,"wires":[["3d7a8c8294dd5b0b"]]},{"id":"9f572532ea4a1ddb","type":"inject","z":"168b628cf2926123","g":"bbd1ad4a16944f63","name":"Tank 5 Temperature","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=18","x":160,"y":1520,"wires":[["37f7ed2b7977dd8d"]]},{"id":"4fc5fb8d86c76ebc","type":"inject","z":"168b628cf2926123","g":"bbd1ad4a16944f63","name":"Tank 5 Circulation Flowrate","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=20","x":180,"y":1640,"wires":[["37f7ed2b7977dd8d"]]},{"id":"f137b5e0e86e7b20","type":"inject","z":"168b628cf2926123","g":"bbd1ad4a16944f63","name":"Tank 5 Resistivity Value","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=22","x":170,"y":1680,"wires":[["37f7ed2b7977dd8d"]]},{"id":"0be70c71d447fd62","type":"inject","z":"168b628cf2926123","g":"bbd1ad4a16944f63","name":"Tank 5 Total Process Time Set","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=19","x":190,"y":1560,"wires":[["37f7ed2b7977dd8d"]]},{"id":"cf053d3d2f23e561","type":"inject","z":"168b628cf2926123","g":"bbd1ad4a16944f63","name":"Tank 5 Incoming Flowrate","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=21","x":180,"y":1720,"wires":[["37f7ed2b7977dd8d"]]},{"id":"ed367f6e2faa2941","type":"inject","z":"168b628cf2926123","g":"4440e58599b3bc12","name":"Tank 3 Circulation Flowrate","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=35","x":180,"y":1020,"wires":[["de8eb52751ac24ca"]]},{"id":"9cf9084b722f0817","type":"inject","z":"168b628cf2926123","g":"3ca15b679e741253","name":"Tank 1 Sonification Power Measured","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=30","x":210,"y":299,"wires":[["9b24eacae8f0f578"]]},{"id":"41cd8ac46a6d6bd5","type":"inject","z":"168b628cf2926123","g":"3ca15b679e741253","name":"Tank 1 Total Process Time Measured","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=31","x":210,"y":339,"wires":[["9b24eacae8f0f578"]]},{"id":"b96b21c7ffce1b3f","type":"inject","z":"168b628cf2926123","g":"3b8b466fc647cda0","name":"Tank 4 Sonification Power Measured","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=42","x":210,"y":1280,"wires":[["3d7a8c8294dd5b0b"]]},{"id":"4fb6efd35b7b2990","type":"inject","z":"168b628cf2926123","g":"3b8b466fc647cda0","name":"Tank 4 Total Process Time Measured","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=43","x":210,"y":1240,"wires":[["3d7a8c8294dd5b0b"]]},{"id":"a41f495ada277925","type":"inject","z":"168b628cf2926123","g":"bbd1ad4a16944f63","name":"Tank 5 Tota Process Time Measured","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=44","x":210,"y":1600,"wires":[["37f7ed2b7977dd8d"]]},{"id":"37f7ed2b7977dd8d","type":"OpcUa-Client","z":"168b628cf2926123","endpoint":"d6d4fb252057c7c0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":560,"y":1640,"wires":[["67f477fa63599c02"]]},{"id":"41182e182f89040e","type":"inject","z":"168b628cf2926123","g":"4440e58599b3bc12","name":"Tank 3 Sonification Power Set","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=39","x":190,"y":940,"wires":[["de8eb52751ac24ca"]]},{"id":"9b24eacae8f0f578","type":"OpcUa-Client","z":"168b628cf2926123","endpoint":"aa78089970994f02","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":560,"y":200,"wires":[["7595c376b5be7812"]]},{"id":"3d7a8c8294dd5b0b","type":"OpcUa-Client","z":"168b628cf2926123","endpoint":"d6d4fb252057c7c0","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":520,"y":1240,"wires":[["692ef63aa9463992"]]},{"id":"388fcdb7e4b1309c","type":"OpcUa-Client","z":"168b628cf2926123","endpoint":"ca6490d6f117f431","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","folderName4PKI":"","name":"","x":560,"y":580,"wires":[["1750ac0393b50562"]]},{"id":"4a8e651371c9dc01","type":"inject","z":"168b628cf2926123","g":"3bae6225ee9c85ed","name":"Tank 2 Temperature","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=9","x":160,"y":520,"wires":[["388fcdb7e4b1309c"]]},{"id":"43cccbc74fcaea0e","type":"inject","z":"168b628cf2926123","g":"3bae6225ee9c85ed","name":"Tank 2 Total Process Time Set","props":[{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=10","x":190,"y":560,"wires":[["388fcdb7e4b1309c"]]},{"id":"2957d3e5edfe80a7","type":"inject","z":"168b628cf2926123","g":"3bae6225ee9c85ed","name":"Tank 2 Incoming Flowrate","props":[{"p":"topic","vt":"str"}],"repeat":"11","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=12","x":180,"y":600,"wires":[["388fcdb7e4b1309c"]]},{"id":"a2b63b3b149eb43d","type":"inject","z":"168b628cf2926123","g":"3bae6225ee9c85ed","name":"Tank 2 Total Process Time Measured","props":[{"p":"topic","vt":"str"}],"repeat":"11","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=2;i=38","x":210,"y":640,"wires":[["388fcdb7e4b1309c"]]},{"id":"1750ac0393b50562","type":"function","z":"168b628cf2926123","name":"function 1","func":"msg.topic=String(msg.topic)\nif(msg.topic==\"ns=2;i=9\"){\n    msg.topic=\"Tank 2 Temperature\"\n}else if(msg.topic==\"ns=2;i=10\"){\n    msg.topic=\"Tank 2 Total Process Time Set\"\n}else if(msg.topic==\"ns=2;i=12\"){\n    msg.topic=\"Tank 2 Incoming Flowrate\"\n}else if(msg.topic==\"ns=2;i=38\"){\n    msg.topic=\"Tank 2 Total Process Time Measured\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":580,"wires":[["85b2937463e8f221"]]},{"id":"7595c376b5be7812","type":"function","z":"168b628cf2926123","name":"function 1","func":"msg.topic=String(msg.topic)\nif(msg.topic==\"ns=2;i=2\"){\n    msg.topic=\"Tank 1 Temperature\"\n}else if(msg.topic==\"ns=2;i=1\"){\n    msg.topic=\"Tank 1 Sonification Power Set\"\n}else if(msg.topic==\"ns=2;i=4\"){\n    msg.topic=\"Tank 1 Circulation Flowrate\"\n}else if(msg.topic==\"ns=2;i=6\"){\n    msg.topic=\"Tank 1 PH\"\n}else if(msg.topic==\"ns=2;i=3\"){\n    msg.topic=\"Tank 1 Total Process Time Set\"\n}else if(msg.topic==\"ns=2;i=5\"){\n    msg.topic=\"Tank 1 Reserved Tank DI Incoming Flowrate\"\n}else if(msg.topic==\"ns=2;i=30\"){\n    msg.topic=\"Tank 1 Sonification Power Measured\"\n}else if(msg.topic==\"ns=2;i=31\"){\n    msg.topic=\"Tank 1 Total Process Time Measured\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":200,"wires":[["2f928f450577bedb"]]},{"id":"d060251b2c790236","type":"function","z":"168b628cf2926123","name":"function 1","func":"msg.topic=String(msg.topic)\nif(msg.topic==\"ns=2;i=33\"){\n    msg.topic=\"Tank 3 Temperature\"\n}else if(msg.topic==\"ns=2;i=40\"){\n    msg.topic=\"Tank 3 Sonification Power Measured\"\n}else if(msg.topic==\"ns=2;i=34\"){\n    msg.topic=\"Tank 3 Total Process Time Set\"\n}else if(msg.topic==\"ns=2;i=41\"){\n    msg.topic=\"Tank 3 Total Process Time Measured\"\n}else if(msg.topic==\"ns=2;i=35\"){\n    msg.topic=\"Tank 3 Circulation Flowrate\"\n}else if(msg.topic==\"ns=2;i=39\"){\n    msg.topic=\"Tank 3 Sonification Power Set\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":960,"wires":[["768339a12d95db9f"]]},{"id":"692ef63aa9463992","type":"function","z":"168b628cf2926123","name":"function 1","func":"msg.topic=String(msg.topic)\nif(msg.topic==\"ns=2;i=13\"){\n    msg.topic=\"Tank 4 Temperature\"\n}else if(msg.topic==\"ns=2;i=42\"){\n    msg.topic=\"Tank 4 Sonification Power Measured\"\n}else if(msg.topic==\"ns=2;i=14\"){\n    msg.topic=\"Tank 4 Total Process Time Set\"\n}else if(msg.topic==\"ns=2;i=43\"){\n    msg.topic=\"Tank 4 Total Process Time Measured\"\n}else if(msg.topic==\"ns=2;i=15\"){\n    msg.topic=\"Tank 4 Circulation Flowrate\"\n}else if(msg.topic==\"ns=2;i=11\"){\n    msg.topic=\"Tank 4 Sonification Power Set\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":1240,"wires":[["e7b1fa556c66782b"]]},{"id":"67f477fa63599c02","type":"function","z":"168b628cf2926123","name":"function 1","func":"msg.topic=String(msg.topic)\nif(msg.topic==\"ns=2;i=18\"){\n    msg.topic=\"Tank 5 Temperature\"\n}else if(msg.topic==\"ns=2;i=20\"){\n    msg.topic=\"Tank 5 Circulation Flowrate\"\n}else if(msg.topic==\"ns=2;i=22\"){\n    msg.topic=\"Tank 5 Resistivity Value\"\n}else if(msg.topic==\"ns=2;i=19\"){\n    msg.topic=\"Tank 5 Total Process Time Set\"\n}else if(msg.topic==\"ns=2;i=44\"){\n    msg.topic=\"Tank 5 Total Process Time Measured\"\n}else if(msg.topic==\"ns=2;i=21\"){\n    msg.topic=\"Tank 5 Incoming Flowrate\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1640,"wires":[["d668ebccf828526d"]]},{"id":"ab1aeb43d897ced8","type":"influxdb out","z":"168b628cf2926123","g":"d84429f7e2d90f9b","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Temperature","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 1","x":1190,"y":60,"wires":[]},{"id":"194b05af6376e77a","type":"influxdb out","z":"168b628cf2926123","g":"d84429f7e2d90f9b","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Sonification Power Set","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 1","x":1220,"y":100,"wires":[]},{"id":"2f928f450577bedb","type":"switch","z":"168b628cf2926123","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Tank 1 Temperature","vt":"str"},{"t":"eq","v":"Tank 1 Sonification Power Set","vt":"str"},{"t":"eq","v":"Tank 1 Circulation Flowrate","vt":"str"},{"t":"eq","v":"Tank 1 PH","vt":"str"},{"t":"eq","v":"Tank 1 Total Process Time Set","vt":"str"},{"t":"eq","v":"Tank 1 Reserved Tank DI Incoming Flowrate","vt":"str"},{"t":"eq","v":"Tank 1 Sonification Power Measured","vt":"str"},{"t":"eq","v":"Tank 1 Total Process Time Measured","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":890,"y":200,"wires":[["ab1aeb43d897ced8"],["194b05af6376e77a"],["1aecf2c718e89bf2"],["e84c8d7627a5f165"],["1e0e003dad54e63d"],["77282492f7f3a727"],["1d6fb2153ce70500"],["da211bd54da0ddde"]]},{"id":"1aecf2c718e89bf2","type":"influxdb out","z":"168b628cf2926123","g":"d84429f7e2d90f9b","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Circulation Flowrate","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 1","x":1210,"y":140,"wires":[]},{"id":"e84c8d7627a5f165","type":"influxdb out","z":"168b628cf2926123","g":"d84429f7e2d90f9b","influxdb":"5431d1c00b3ede9a","name":"","measurement":"pH","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 1","x":1160,"y":180,"wires":[]},{"id":"1e0e003dad54e63d","type":"influxdb out","z":"168b628cf2926123","g":"d84429f7e2d90f9b","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Total Process Time Set","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 1","x":1220,"y":220,"wires":[]},{"id":"77282492f7f3a727","type":"influxdb out","z":"168b628cf2926123","g":"d84429f7e2d90f9b","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Reserved Tank DI Incoming Flowrate","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 1","x":1270,"y":260,"wires":[]},{"id":"1d6fb2153ce70500","type":"influxdb out","z":"168b628cf2926123","g":"d84429f7e2d90f9b","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Sonification Power Measured","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 1","x":1240,"y":300,"wires":[]},{"id":"da211bd54da0ddde","type":"influxdb out","z":"168b628cf2926123","g":"d84429f7e2d90f9b","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Total Process Time Measured","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 1","x":1240,"y":340,"wires":[]},{"id":"15c4a5336cf03f9b","type":"influxdb out","z":"168b628cf2926123","g":"562889a2f9cf4bc6","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Temperature","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 2","x":1170,"y":520,"wires":[]},{"id":"81be23220d3975b2","type":"influxdb out","z":"168b628cf2926123","g":"562889a2f9cf4bc6","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Total Process Time Set","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 2","x":1200,"y":560,"wires":[]},{"id":"2f0731bdd75089e2","type":"influxdb out","z":"168b628cf2926123","g":"562889a2f9cf4bc6","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Total Process Time Measured","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 2","x":1220,"y":640,"wires":[]},{"id":"85b2937463e8f221","type":"switch","z":"168b628cf2926123","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Tank 2 Temperature","vt":"str"},{"t":"eq","v":"Tank 2 Total Process Time Set","vt":"str"},{"t":"eq","v":"Tank 2 Incoming Flowrate","vt":"str"},{"t":"eq","v":"Tank 2 Total Process Time Measured","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":870,"y":580,"wires":[["15c4a5336cf03f9b"],["81be23220d3975b2"],["aac16dbf89f11055"],["2f0731bdd75089e2"]]},{"id":"aac16dbf89f11055","type":"influxdb out","z":"168b628cf2926123","g":"562889a2f9cf4bc6","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Incoming Flowrate","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 2","x":1190,"y":600,"wires":[]},{"id":"768339a12d95db9f","type":"switch","z":"168b628cf2926123","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Tank 3 Temperature","vt":"str"},{"t":"eq","v":"Tank 3 Total Process Time Set","vt":"str"},{"t":"eq","v":"Tank 3 Total Process Time Measured","vt":"str"},{"t":"eq","v":"Tank 3 Sonification Power Set","vt":"str"},{"t":"eq","v":"Tank 3 Sonification Power Measured","vt":"str"},{"t":"eq","v":"Tank 3 Circulation Flowrate","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":870,"y":960,"wires":[["65d822be868cbfcc"],["6b74b5dfe6aa1e9a"],["18f4a27a8cb51dd1"],["3e271ddadd2ccfb5"],["0e1dfa165d052e61"],["bacf27d21e8136c4"]]},{"id":"65d822be868cbfcc","type":"influxdb out","z":"168b628cf2926123","g":"fb0afae04e1f9ecc","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Temperature","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 3","x":1170,"y":820,"wires":[]},{"id":"6b74b5dfe6aa1e9a","type":"influxdb out","z":"168b628cf2926123","g":"fb0afae04e1f9ecc","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Total Process Time Set","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 3","x":1200,"y":860,"wires":[]},{"id":"3e271ddadd2ccfb5","type":"influxdb out","z":"168b628cf2926123","g":"fb0afae04e1f9ecc","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Sonification Power Measured","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 3","x":1220,"y":940,"wires":[]},{"id":"18f4a27a8cb51dd1","type":"influxdb out","z":"168b628cf2926123","g":"fb0afae04e1f9ecc","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Total Process Time Measured","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 3","x":1220,"y":900,"wires":[]},{"id":"0e1dfa165d052e61","type":"influxdb out","z":"168b628cf2926123","g":"fb0afae04e1f9ecc","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Sonification Power Set","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 3","x":1200,"y":980,"wires":[]},{"id":"bacf27d21e8136c4","type":"influxdb out","z":"168b628cf2926123","g":"fb0afae04e1f9ecc","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Circulation Flowrate","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 3","x":1190,"y":1020,"wires":[]},{"id":"e7b1fa556c66782b","type":"switch","z":"168b628cf2926123","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Tank 4 Temperature","vt":"str"},{"t":"eq","v":"Tank 4 Total Process Time Set","vt":"str"},{"t":"eq","v":"Tank 4 Total Process Time Measured","vt":"str"},{"t":"eq","v":"Tank 4 Sonification Power Measured","vt":"str"},{"t":"eq","v":"Tank 4 Sonification Power Set","vt":"str"},{"t":"eq","v":"Tank 4 Circulation Flowrate","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":870,"y":1240,"wires":[["16dbf95885ec9bc6"],["be14c438613aa585"],["37e1eadec344adf7"],["a65eece73d59fb53"],["9aa733c70508606d"],["3bc3ef5eecf116bf"]]},{"id":"16dbf95885ec9bc6","type":"influxdb out","z":"168b628cf2926123","g":"ff1621326a2deec1","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Temperature","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 4","x":1170,"y":1160,"wires":[]},{"id":"be14c438613aa585","type":"influxdb out","z":"168b628cf2926123","g":"ff1621326a2deec1","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Total Process Time Set","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 4","x":1200,"y":1200,"wires":[]},{"id":"a65eece73d59fb53","type":"influxdb out","z":"168b628cf2926123","g":"ff1621326a2deec1","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Sonification Power Measured","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 4","x":1220,"y":1280,"wires":[]},{"id":"37e1eadec344adf7","type":"influxdb out","z":"168b628cf2926123","g":"ff1621326a2deec1","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Total Process Time Measured","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 4","x":1220,"y":1240,"wires":[]},{"id":"9aa733c70508606d","type":"influxdb out","z":"168b628cf2926123","g":"ff1621326a2deec1","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Sonification Power Set","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 4","x":1200,"y":1320,"wires":[]},{"id":"3bc3ef5eecf116bf","type":"influxdb out","z":"168b628cf2926123","g":"ff1621326a2deec1","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Circulation Flowrate","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 4","x":1190,"y":1360,"wires":[]},{"id":"bbc59378bb224378","type":"influxdb out","z":"168b628cf2926123","g":"776ff9f2a9913ed8","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Temperature","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 5","x":1170,"y":1540,"wires":[]},{"id":"b92b4714ccfba3f0","type":"influxdb out","z":"168b628cf2926123","g":"776ff9f2a9913ed8","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Total Process Time Set","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 5","x":1200,"y":1580,"wires":[]},{"id":"97f78bb739e168e0","type":"influxdb out","z":"168b628cf2926123","g":"776ff9f2a9913ed8","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Circulation Flowrate","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 5","x":1190,"y":1660,"wires":[]},{"id":"a68aefe40f143ddc","type":"influxdb out","z":"168b628cf2926123","g":"776ff9f2a9913ed8","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Total Process Time Measured","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 5","x":1220,"y":1620,"wires":[]},{"id":"d75201bc7b3c135e","type":"influxdb out","z":"168b628cf2926123","g":"776ff9f2a9913ed8","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Resistivity Value","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 5","x":1180,"y":1700,"wires":[]},{"id":"64754804486ffeb2","type":"influxdb out","z":"168b628cf2926123","g":"776ff9f2a9913ed8","influxdb":"5431d1c00b3ede9a","name":"","measurement":"Incoming Flowrate","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"5a93f6c194792d5e","bucket":"Tank 5","x":1190,"y":1740,"wires":[]},{"id":"d668ebccf828526d","type":"switch","z":"168b628cf2926123","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Tank 5 Temperature","vt":"str"},{"t":"eq","v":"Tank 5 Total Process Time Set","vt":"str"},{"t":"eq","v":"Tank 5 Total Process Time Measured","vt":"str"},{"t":"eq","v":"Tank 5 Circulation Flowrate","vt":"str"},{"t":"eq","v":"Tank 5 Resistivity Value","vt":"str"},{"t":"eq","v":"Tank 5 Incoming Flowrate","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":910,"y":1640,"wires":[["bbc59378bb224378"],["b92b4714ccfba3f0"],["a68aefe40f143ddc"],["97f78bb739e168e0"],["d75201bc7b3c135e"],["64754804486ffeb2"]]},{"id":"d6d4fb252057c7c0","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.1.20:4840","secpol":"None","secmode":"None","login":false},{"id":"aa78089970994f02","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.1.20:4840","secpol":"None","secmode":"None","login":false},{"id":"ca6490d6f117f431","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.1.20:4840","secpol":"None","secmode":"None","none":false,"login":false,"usercert":false,"usercertificate":"","userprivatekey":""},{"id":"5431d1c00b3ede9a","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"192.168.1.2","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://192.168.1.2:8086","rejectUnauthorized":true}]
